<li class="citation">
<span class="author">{{ .Params.author }}. </span>
<span class="title">{{ .Params.title }}. </span>

{{ if .Param "publisher" }}
<span class="publisher">{{ .Params.publisher }}. </span>
{{ end }}

{{ if .Param "year" }}
<span class="year">{{ .Params.year }}. </span>
{{ end }}

{{ if .Param "link" }}
<span class="link">{{ .Params.link }}. </span>
{{ end }}

{{ if .Param "showlink" }}
<br><a class="showlink" href="{{ .Params.showlink }}">{{ .Params.showlink }}</a>
{{ end }}
</li>
