<p>
{{ $.Page.Params.author }},
<br>
{{ $.Page.Params.title }}.
{{ if (isset $.Page.Params "publisher") }}
<br>{{ $.Page.Params.publisher }}
{{ end }}
</p>

<ul class="lexlist">
{{ range .Pages }}
<li class="lex">
<a href={{ .Permalink }}>{{ .Title | markdownify }}</a><br>
{{ end }}
</li>
</ul>
