{{ define "main" }}

<head>
<link rel='stylesheet' href='/css/list.css'>
{{ partial "loadmathjax.html" . }}
{{ partial "colour.html" . }}
<title>{{ .Site.Home.Title }}{{ .RelPermalink }}</title>
</head>

<body>

<div class="map">
{{ partial "map/list.html" . }}
</div>

<div class="waterfall">
{{ partial "button/back.html" . }}

{{ with ($.Site.GetPage "lexicon") }}
	<ul class="lexlist">
	{{ range .Pages }}
	<li class="lex">
	<a href={{ .Permalink }}>{{ .Title | markdownify }}</a><br>
	<div class="lexpreview">{{ .Render "li" }}</div>
	</li>
	{{ end }}
	</ul>
{{ end }}


</div>

{{ partial "button/EXIT.html" . }}
{{ partial "fin.html" . }}

</body>


{{ end }}
