<h1 class="title">{{ .Title }}</h1>

{{ $def_num := 0 }}
<div class="what">
DEFINITION(S):
{{ range $.Param "what" }}
<div class="lex-entry">
<p class="lex-entry-number">{{ $def_num }}</p>
<div class="lex-entry-text">
<p>{{ . | markdownify }}<p>
</div>
{{ $def_num = (add $def_num 1) }}
</div>
{{ end }}
</div>

{{ if .Param "units" }}
<p>UNITS: {{ .Param "units" | markdownify }}</p>
{{ end }}

{{ if .Param "dimensions" }}
<p>DIMENSIONS: {{ .Param "dimensions" | markdownify }}</p>
{{ end }}

{{ if .Param "linked" }}
<div class="linked">
	LINKED PAGES:
	<ul>
	{{ range $.Param "linked" }}
	<li>{{ . | markdownify }}</li>
	{{ end }}
	</ul>
</div>
{{ end }}

{{ if .Param "aka" }}
<div class="aka">
	ALSO KNOWN AS:	
	<ul>
	{{ range $.Param "aka" }}
	<li>{{ . }}</li>
	{{ end }}
	</ul>
</div>
{{ end }}

{{ if .Param "sources" }}
<div class="sources">
	SOURCES:	
	<ul>
	{{ range $.Param "sources" }}
	{{ $src := (printf "%s%s" "sources/" .) }}
	{{ with ($.Site.GetPage $src) }}
	{{ .Render "citation" }}
	{{ end }}
	{{ end }}
	</ul>
</div>
{{ end }}
