{{ if isset .Params "exit" }} 
{{ $exitwhere := .Page.Params.exit }}
<span class="EXIT">
<a href="{{ $exitwhere }}">EXIT</a>
</span>
{{ else }}
{{ $exitwhere := "https://duckduckgo.com/?kae=-1&kz=-1&k1=-1&kak=-1&kax=-1&kaq=-1&kap=-1&kao=-1&kau=-1&kac=-1" }}
<span class="EXIT">
<a href="{{ $exitwhere }}">EXIT</a>
</span>
{{ end }}
