{{ define "main" }}

<head>
<link rel='stylesheet' href='/css/list.css'>
{{ partial "loadmathjax.html" . }}
{{ partial "colour.html" . }}
<title>{{ .Site.Home.Title }}{{ .RelPermalink }}</title>
</head>

<body>

<div class="map">
{{ partial "map/list.html" . }}
</div>

{{ .Content }}

</body>

{{ partial "fou.html" . }}

{{ end }}
