{{ define "main" }}

<head>
<link rel='stylesheet' href='/css/paper.css'>
{{- partial "loadmathjax.html" . -}}
{{- partial "colour.html" . -}}
{{- partial "font.html" . -}}
<title>{{ .Site.Home.Title }}{{ .RelPermalink }}</title>
</head>

<body>

<div class="toc">
{{ partial "exit.html" . }}
{{ .TableOfContents }}
</div>

<div class="waterfall">

<h1 class="title">{{ .Title }}</h1>

<div class="abstract">
{{ .Page.Params.abstract | markdownify }}
</div>

{{ .Content }}

</div>

</body>

{{ partial "fin.html" }}

{{ end }}
