<html>
<head>
<meta content='text/html; charset=UTF-8' name='Content-Type'>
<meta name='viewport' content='width=device-width'>
<link rel='stylesheet' href='../../../../css/main.css'>
</head>

<head>
<link rel='stylesheet' href='../../../../css/note.css'>
<script type="text/x-mathjax-config">
	MathJax.Hub.Config({ 
		extensions: [
			"tex2jax.js",
			"phizzy.js",
		],
		jax: [
			"input/TeX",
			"output/HTML-CSS",
		],
		"HTML-CSS": { 
			scale: 95,
			availableFonts: [],
			preferredFont: null,
			webFont: "Neo-Euler", 
			EqnChunk: 20, 
			EqnChunkFactor: 4,
			extensions: ["handle-floats.js"],
			EqnChunkDelay: 1,
			matchFontHeight: true, 
			linebreaks: {
				automatic: true, 
				width: "100% container",
			},
		},
		displayAlign: "left",
		displayIndent: "1.5em",
		tex2jax: {
			inlineMath: [
				['£','£'],
				['˝','˝'],
			],
			displayMath: [ 
				['££','££'],
			],
			processEscapes: true,
			processEnvironments: true,
			processRefs: true, 
			skipTags: ['style', 'pre'],
		},
		TeX: {
			TagSide: "right",
			extensions: [
				"AMSmath.js",
				"AMSsymbols.js",
				"noUndefined.js",
				"newcommand.js"
			],
			equationNumbers: {
				autoNumber: "AMS",
				useLabelIDs: false,
				formatNumber: function (n) {return n.toString()},
				formatTag: function (n) {return '('+n+')'},
			},
		},
		loader: {
			load: ['ui/lazy']
		},
	});
</script>
<script type="text/x-mathjax-config">
	MathJax.Hub.Config({
		TeX: {
			Macros: {
				 f: ["\\frac{#1}{#2}", 2],
				 n: ["\\nonumber \\\\[0.5em]", 0],
				 no: ["\\nonumber", 0],
				 nl: ["\\\\[0.5em]", 0],
				 cntd: ["\\n &\\hspace{5mm}", 0],
				 bgnmaths: ["\\begin{align}", 0],
				 endmaths: ["\\end{align}", 0],
				 bgnmathsn: ["\\begin{align*}", 0],
				 endmathsn: ["\\end{align*}", 0],
			}
		}
	});
</script>
<script type="text/javascript" src="../../../../mathjax/MathJax/MathJax.js"></script>

 

<link rel='stylesheet' href='../../../../css/fonts/concrete.css'>

<title>notes/physics/fluids/notes/overview-of-fluid-dynamics/</title>

</head>

<body>

<div class="map">

	<a href=https://nombrilisme.gitlab.io>notes</a>
	> <a href="https://nombrilisme.gitlab.io/physics/">physics</a>
	> <a href="https://nombrilisme.gitlab.io/physics/fluids/">fluids</a>
	> <a href="https://nombrilisme.gitlab.io/physics/fluids/notes/">notes</a>
	> <a href="">a Quick Outline of Fluid Dynamics</a>
</div>

<div class="toc">
<nav id="TableOfContents"></nav>
</div>

<div class="waterfall">

<h1 class="title">a Quick Outline of Fluid Dynamics</h1>

202302060328

<p>To describe the CONFIGURATION or STATE of a fluid, you need these three
continuous fields:</p>
<ul>
<li>density ˝ρ(⬀x,t)˝</li>
<li>pressure ˝p(⬀x,t)˝</li>
<li>velocity ˝⬀v(⬀x,t)˝</li>
</ul>
<p>To describe the dynamics of a a fluid, you need to understand the relationship
between changes in the fluid&rsquo;s <span class="lex"><a class="lex" href="https://nombrilisme.gitlab.iophysics/fluids/lexicon/density/">density</a><span class="lexpreview">
	<span class="lexpreview-title">density</span>
	<br><br>

	
	
	[0]
	<br>
	<span class="lexpreview-what"></span>
	
	
</span></span>

 and changes in its <span class="lex"><a class="lex" href="https://nombrilisme.gitlab.iophysics/fluids/lexicon/pressure/">pressure</a><span class="lexpreview">
	<span class="lexpreview-title">pressure</span>
	<br><br>

	
	
	[0]
	<br>
	<span class="lexpreview-what">the normal force per unit area.
</span>
	
	
</span></span>

.</p>
<p>The &ldquo;usual&rdquo; place to start is <span class="lex"><a class="lex" href="https://nombrilisme.gitlab.iophysics/fluids/lexicon/hydrostatics/">hydrostatics</a><span class="lexpreview">
	<span class="lexpreview-title">hydrostatics</span>
	<br><br>

	
	
	[0]
	<br>
	<span class="lexpreview-what">the theory of fluids at rest, i.e. when the {{&lt; 词典 flow velocity &gt;}} 
v(x,t) is zero everywhere.  
</span>
	
	
</span></span>

 &ndash; the theory of fluids
at rest. By considering the forces at work in a fluid (e.g. <span class="lex"><a class="lex" href="https://nombrilisme.gitlab.iophysics/fluids/lexicon/shear/">shear</a></span>

,
<span class="lex"><a class="lex" href="https://nombrilisme.gitlab.iophysics/fluids/lexicon/stress/">stress</a><span class="lexpreview">
	<span class="lexpreview-title">stress</span>
	<br><br>

	
	
	[0]
	<br>
	<span class="lexpreview-what">is a quantity that describes the forces in an object that cause deformation 
(strain). describes the internal forces that neighbouring particles exert on 
each other, in a continuous material.
</span>
	
	
	[1]
	<br>
	<span class="lexpreview-what">defined as force per unit area.
</span>
	
	
	[2]
	<br>
	<span class="lexpreview-what">compressive stress: is when forces (like tension or compression) cause an 
object to become compressed.
  - the bigger these forces and the smaller the cross sectional area, the 
    greater the stress.
  - is why stress is defined as force per unit area
</span>
	
	
	[3]
	<br>
	<span class="lexpreview-what">dimensions: ˝[σ] = L⁽-1⁾ M T⁽-2⁾˝

SI unit: pascal
  - base units: ˝Pa = kg m⁽-1⁾ s⁽-2⁾˝

[examples][1] of mechanical stress:
  - tension
  - compression
  - shear
  - bending
  - torsion
</span>
	
	
</span></span>

, external fields, and related mathematical objects that help
describe them, like the <span class="lex"><a class="lex" href="https://nombrilisme.gitlab.iophysics/fluids/lexicon/stress-tensor/">stress tensor</a><span class="lexpreview">
	<span class="lexpreview-title">stress tensor</span>
	<br><br>

	
	
</span></span>

) you can derive the
conditions for <span class="lex"><a class="lex" href="https://nombrilisme.gitlab.iophysics/fluids/lexicon/hydrostatic-equilibrium/">hydrostatic equilibrium</a><span class="lexpreview">
	<span class="lexpreview-title">hydrostatic equilibrium</span>
	<br><br>

	
	
	[0]
	<br>
	<span class="lexpreview-what">XXX
</span>
	
	
</span></span>

.</p>
<p>To &ldquo;transition&rdquo; to <span class="lex"><a class="lex" href="https://nombrilisme.gitlab.iophysics/fluids/lexicon/hydrodynamics/">hydrodynamics</a><span class="lexpreview">
	<span class="lexpreview-title">hydrodynamics</span>
	<br><br>

	
	
	[0]
	<br>
	<span class="lexpreview-what">the study of fluids in motion, i.e. when the {{&lt; 词典 flow velocity &gt;}} 
v(x,t) ≠ 0.
</span>
	
	
</span></span>

 &ndash; fluids in motion &ndash; you start
by defining a flow field, and by considering the flux of the flow field, you can
derive some <span class="lex"><a class="lex" href="https://nombrilisme.gitlab.iophysics/fluids/lexicon/conservation-laws/">conservation laws</a></span>

 for energy, momentum, and mass.</p>
<p>And, thence, two important &ldquo;simplifications&rdquo; emerge. You motivate these
simplifications by decomposing the stress tensor. For &ldquo;many&rdquo; fluids you will get
two terms:</p>
<ul>
<li>an isotropic pressure term</li>
<li>a viscous term linear in the rate of shear (i.e. the velocity gradient).</li>
</ul>
<p>(1) the <span class="lex"><a class="lex" href="https://nombrilisme.gitlab.iophysics/fluids/lexicon/perfect-fluid/">perfect fluid</a><span class="lexpreview">
	<span class="lexpreview-title">perfect fluid</span>
	<br><br>

	
	
	[0]
	<br>
	<span class="lexpreview-what">a fluid that you can fully describe using only its density ρ and pressure p.
</span>
	
	
	[1]
	<br>
	<span class="lexpreview-what">a fluid that has no (or negligible) viscosity or shear stresses.
</span>
	
	
	[2]
	<br>
	<span class="lexpreview-what">a fluid where viscosity is negligible and heat conductivity is negligible.
</span>
	
	
</span></span>

. IF the viscous stress is negligble, AND heat
conductivity in the fluid is negligible, then you can call it a perfect fluid.
Deriving the conservation laws under these assumptions leads to the <span class="lex"><a class="lex" href="https://nombrilisme.gitlab.iophysics/fluids/lexicon/euler-equation/">euler equation</a><span class="lexpreview">
	<span class="lexpreview-title">euler equation</span>
	<br><br>

	
	
	[0]
	<br>
	<span class="lexpreview-what">an equation of motion for the fluid that you can derive from conservation 
laws:
```
  D₍t₎↗v = 𝝏₍t₎↗v &#43; (↗v⦁∇)↗v = -÷1ρ·∇p &#43; ↗g
```
</span>
	
	
</span></span>

 (an equation of motion) and <span class="lex"><a class="lex" href="https://nombrilisme.gitlab.iophysics/fluids/lexicon/bernoullis-principle/">bernoulli&#39;s principle</a><span class="lexpreview">
	<span class="lexpreview-title">bernoulli&#39;s principle</span>
	<br><br>

	
	
	[0]
	<br>
	<span class="lexpreview-what">increasing the speed of a fluid decreases the static pressure or potential 
energy. 

only applies for isentropic flows (no irreversible processes like turbulence 
or thermal radiation). so basically, we&#39;re talking about fluids and gases at 
low mach number. the incompressible approximation applies.
</span>
	
	
	[1]
	<br>
	<span class="lexpreview-what">bernoulli&#39;s equation:
```
  ÷12 v⁽2⁾ &#43; gz &#43; ÷1ρ p = const.
```
- applies in any region of a flow where energy per unit mass is uniform.
- this accurately describes fluid flow only in regions where viscous forces 
  don&#39;t exist (and diminish the energy per unit mass)
</span>
	
	
	[2]
	<br>
	<span class="lexpreview-what">another common statement of bernoulli&#39;s principle:
```
  ½v² &#43; ∫dPͺ÷1ρ = const
```

assumptions:
- steady flow (parameters like ˝v, p, ρ˝ are constant in time)
- incompressible
- no friction by viscous forces
</span>
	
	
</span></span>

 for steady flow in a pipe.</p>
<p>(2) the <span class="lex"><a class="lex" href="https://nombrilisme.gitlab.iophysics/fluids/lexicon/incompressible-approximation/">incompressible approximation</a></span>

. IF the fluid&rsquo;s changes in
density are small, AND the velocites are « the speed of sound, then you can say
the fluid is incompressible. However modelling a fluid as incompressible doesn&rsquo;t
imply that it actually is &ndash; just that the relative changes in density are small
in the scale or reference frame you&rsquo;re observing the fluid (e.g. it&rsquo;s often true
that gravity is too <em>weak</em> to compress a fluid noticeably). The incompressible
approximation is generally fine for liquids with large <span class="lex"><a class="lex" href="https://nombrilisme.gitlab.iophysics/fluids/lexicon/bulk-modulus/">bulk modulus</a></span>


and gases.</p>
<p>In general, though, viscous stresses are <em>not</em> negligible. When the perfect
fluid assumptions <em>don&rsquo;t</em> hold, you need modify the euler equation to account
for viscous stresses and heat conduction. This leads to the <span class="lex"><a class="lex" href="https://nombrilisme.gitlab.iophysics/fluids/lexicon/navier-stokes-equation/">navier stokes equation</a></span>

 (a more general equation of motion for a fluid).</p>
<p>Next, introduce <span class="lex"><a class="lex" href="https://nombrilisme.gitlab.iophysics/fluids/lexicon/vorticity/">vorticity</a><span class="lexpreview">
	<span class="lexpreview-title">vorticity</span>
	<br><br>

	
	
	[0]
	<br>
	<span class="lexpreview-what">the curl of the velocity field
```
  ⬀Ω = ∇×⬀v
```
</span>
	
	
</span></span>

, the curl of the flow field. This opens
up treatment of rotating fluids. Using the definition of vorticity you can
mathematically transforming the navier stokes equation to the <span class="lex"><a class="lex" href="https://nombrilisme.gitlab.iophysics/fluids/lexicon/vorticity-evolution-equation-for-incompressible-flow/">vorticity evolution equation for incompressible flow</a><span class="lexpreview">
	<span class="lexpreview-title">vorticity evolution equation for incompressible flow</span>
	<br><br>

	
	
	[0]
	<br>
	<span class="lexpreview-what">is:
```
  ₯₍t₎⬀ω = -⌠∇p × ∇ρ⧸ρ²⌡ &#43; ν∇²⬀ω
```
where ˝⬀ω = ∇×⬀v˝, and the flow is assumed incompressible, ˝∇⦁⬀v = 0˝, and 
˝₯˝ is the {{&lt; 词典 fluid derivative &gt;}}.
</span>
	
	
</span></span>

.</p>


</div>

<footer class="fin">
	<p>K.A. 2023</p>
</footer>


</body>

</html>
