body {
	#font-family: 'concrete';
	background: var(--c-bg);
	color: var(--c-txt); 
	max-width: 600px; 
	line-height: 1.20; 
	position: relative; 
	margin-left: 20px;
	margin-right: calc(100vw-20px-600px);
	padding-top: 0; 
	padding-bottom: 400px; 
	padding-left: 10px; 
	padding-right: 10px; 
	counter-reset: h1; 
}

h1 {
	#font-family: 'cmtypewriter'; 
	font-size: 1.0rem; 
	line-height: 1.4rem; 
	font-weight: 700; 
	margin-top: 2.0rem; 
	border-bottom: 1px solid var(--f-txt);
}
h1:not(.title):before {
	counter-increment: h1;
	content: counter(h1) '. '; 
	font-family: var(--f-anchors); 
	font-size: 1.0rem; 
	font-weight: 700; 
}
h1:not(.title) {
	#text-decoration: underline;
	font-size: 1.0rem; 
	margin-top: 2.0rem; 
}
h1 a {
	color: var(--c-txt); 
}
h1.title {
	font-size: 1.5rem; 
	margin-top: 1.0rem; 
	margin-bottom: 1.0rem; 
	font-variant-caps: small-caps;  
}
h1 + hr {
	border: 2px solid var(--c-txt);
	margin-top: -0.5rem; 
}

h2 {
	font-size: 1.0rem; 
	font-family: 'cmtypewriter', var(--f-txt); 
	font-weight: 700; 
	margin-top: 2.0rem; 
	margin-bottom: -0.5rem;
	border-bottom: 1px solid var(--f-txt);
}
h2 + hr {
	#margin-top: -.5rem;
	border-bottom: 1px solid var(--c-txt);
}

p {
	font-size: 1.0rem; 
	margin-top: 1.5rem;
}

a {
	color: var(--c-link); 
	font-family: 'cmtypewriter';
}

ul { 
	#list-style-type: '\21B3  '; 
	list-style-type: '\25B8  '; 
	font-size: 1.0rem;
	#margin-top: -0.5rem; 
}
ul li {
	#margin-left: 0.0rem; 
	#padding-left: 1.0rem; 
	#padding-bottom: .5rem; 
	margin-top: .2rem; 
}

p + ul {
	margin-top: -0.5rem; 
}

ol {
	#margin-top: 1.0rem; 
}
ol li {
	#margin-left: 1.0rem; 
	margin-top: 1.0rem; 
}
ol.properties:before {
	content: "Properties. "; 
	font-variant-caps: petite-caps; 
	#margin-left: -2.4rem; 
	font-weight: 700; 
	padding: 0; 
}

li blockquote {
	margin-top: -1.0rem; 
	margin-bottom: -0.5rem; 
}

blockquote {
	margin-left: 0; 
	margin-right: 0; 
	padding-left: 5px; 
	background: var(--c-bg-hi); 
}

code {
	#margin-left: 20px; 
	font-family: 'cmtypewriter'; 
	font-weight: 700; 
}

.map {
	#margin-left: -10; 
	padding-left: 0px; 
}

.eq {
	font-family: monospace;
}

#TableOfContents ol {
	list-style-type: none; 
	line-height: 0.8rem; 
	padding-left: 20px; 
}
#TableOfContents li {
	padding-left: 30px; 
	text-indent: -30px; 
	margin-top: 0; 
}
#TableOfContents li a {
	text-decoration: none; 
	color: var(--c-link); 
	font-family: 'cmtypewriter', monospace; 
}
#TableOfContents ol li {
	counter-increment: numero; 
	margin-bottom: 4px; 
}
#TableOfContents ol li:before {
	content: counter(numero) ". ";  
	color: var(--c-link); 
	font-family: 'cmtypewriter', monospace; 
}
#TableOfContents ol {
	list-style: none; 
	counter-reset: numero; 
}

@media print {
	body {
		max-width: 100vw; 
		margin-left: auto; 
		margin-right: auto
		padding-bottom: 0; 
	}

	.map {
		display: none; 
	}

	footer {
		display: none;
	}
}

@media (max-width: 700px) {
	body {
		max-width: 100vw; 
		margin-left: auto; 
		margin-right: auto; 
	}
}
