body {
	font-family: var(--f-txt); 
	background: var(--c-bg-lo);
	color: var(--c-txt); 
	line-height: 1.20; 
	#position: relative; 
	#background: #cccccc;
}

.waterfall {
	max-width: 600px;
	background: var(--c-bg);
	line-height: 1.2;
	padding: 10px;
	margin-left: 10px;
	counter-reset: h1; 
}

h1 a {
	color: var(--c-txt); 
}
h1.title {
	#font-family: 'concrete';
	font-size: 2.0rem; 
	margin-top: 1.0rem; 
	margin-bottom: 1.0rem; 
	font-variant-caps: small-caps;  
}

p {
	font-size: 1.0rem; 
	#margin-top: 1.5rem;
}

a {
	color: var(--c-link); 
}

hr {
	border: 2px dashed var(--c-txt);
	#border-radius: 0;
}

ul { 
	list-style-type: '\25B8  '; 
	font-size: 1.0rem;
}
ul li {
	margin-top: .2rem; 
}

ol {
	#margin-top: 1.0rem; 
}
ol li {
	#margin-left: 1.0rem; 
	margin-top: 1.0rem; 
}
ol.properties:before {
	content: "Properties. "; 
	font-variant-caps: petite-caps; 
	font-weight: 700; 
	padding: 0; 
}

code {
	margin-left: 20px; 
	font-family: 'cmtypewriter'; 
	font-weight: 700; 
}

img {
	width: 100%;
	#width: 95%;
}

.what {
	padding-top: 1.0rem;
	padding-bottom: 1.0rem;
	#background: #cccccc;
}
.aka {
	padding-top: 1.0rem;
	padding-bottom: 1.0rem;
	#border-top: 2px dashed var(--c-txt);
}
.alsoread {
	padding-top: 1.0rem;
	padding-bottom: 1.0rem;
	#border-top: 2px dashed var(--c-txt);
}

.lex-entry {
	padding-bottom: 0;
	padding-right: 5px;
}
.lex-entry:hover {
	background: var(--c-highlight)
}
.lex-entry-number {
	margin-bottom: -1.0rem;
	padding: 0;
	#margin-left: 20px;
}
.lex-entry-number:before {
	content: '[';
}
.lex-entry-number:after {
	content: ']';
}
.lex-entry-text {
	border-left: 2px dashed var(--c-txt);
	margin-left: 10px;
	padding-left: 20px;
}

.lex:hover {
	#background: var(--c-highlight);
	#color: var(--c-highlight);
}
.lex:hover .lexpreview {
	display: block; 
}
.lexpreview {
	display: none; 
	position: fixed; 
	top: 50px; 
	left: calc(40% + 300px + 20px); 
	max-width: 400px;
	#width: calc(100% - 340px - 20px);
	height: calc(100vh - 50px - 50px);
	#max-width: 400px; 

	font-family: 'cmtypewriter'; 
	font-size: .8rem; 
	border: 1px solid var(--c-link);
	color: var(--c-link);
	background: var(--c-bg-hi);

	padding: 10px; 
	#padding-left: 0; 
	#text-indent: 10px;

	#margin: 0; 
}
.lexpreview-title {
	font-variant-caps: small-caps;  
	font-size: 1.4rem;
	color: var(--c-link);
}
.lexpreview-what {
	#font-variant-caps: small-caps;  
	#font-size: 1.4rem;
	color: var(--c-link);
	#margin-left: 10px;
	#border-left: 2px dashed;
}


#.fig {
#	#max-width: 600; 
#	text-align: center; 
#	#border-style: dotted; 
#	#border-width: 1px; 
#}

##TableOfContents ol {
#	list-style-type: none; 
#	line-height: 0.8rem; 
#	padding-left: 20px; 
#}
##TableOfContents li {
#	padding-left: 30px; 
#	text-indent: -30px; 
#	margin-top: 0; 
#}
##TableOfContents li a {
#	text-decoration: none; 
#	color: var(--c-link); 
#	font-family: 'cmtypewriter', monospace; 
#}
##TableOfContents ol li {
#	counter-increment: numero; 
#	margin-bottom: 4px; 
#}
##TableOfContents ol li:before {
#	content: counter(numero) ". ";  
#	color: var(--c-link); 
#	font-family: 'cmtypewriter', monospace; 
#}
##TableOfContents ol {
#	list-style: none; 
#	counter-reset: numero; 
#}

@media print {
	body {
		max-width: 100vw; 
		margin-left: auto; 
		margin-right: auto
		padding-bottom: 0; 
	}

	.map {
		display: none; 
	}
}

@media (max-width: 700px) {
	body {
		max-width: 100vw; 
		margin-left: auto; 
		margin-right: auto; 
	}
}
