body {
	font-family: var(--f-txt); 
	background: var(--c-bg);
	max-width: 100vw; 
}

.waterfall {
	width: auto;
	left: 0; 
	right: 0;
	padding: 10px;
	background: var(--c-bg);
}

h1 {
	font-family: 'cmtypewriter'; 
	font-size: 1.0rem; 
	line-height: 1.0rem; 
	font-weight: 700; 
}

h2 {
	padding: 0;
	margin: 0;
	font-size: 1.0rem;
	font-weight: 700;
	color: var(--c-link);

	text-decoration: underline;
}
h2 a {
	color: var(--c-link);
}

p {
	#font-size: 1.0rem; 
	#padding-left: 10px;
}

li {
	color: var(--c-link);
}

a {
	color: var(--c-link);
	#text-decoration: none;
}

a[class="notelisting"] {
	text-decoration: none;
}

hr.preview {
	color: var(--c-link);
	border-top: 0px;
	border-bottom: 2px dashed var(--c-link);
}

/* domains */ 
/*************************************************************/

ul.domainlist {
	margin: 0;
	padding: 0;
	list-style-type: none;
	color: var(--c-link);
}
ul.domainlist li {
	font-weight: 700;
	color: var(--c-link);
}
li.domain a {
	text-decoration-thickness: 2px;
	#text-decoration: none;
	font-weight: 700;
	color: var(--c-link);
}

/* dirs */
/*************************************************************/

ul.dirlist {
	position: relative;
	max-width: 330px;
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-weight: 700;
	background: var(--c-bg); 
	#background: #cccccc;
}
ul.dirlist li {
	padding: 0;
	margin: 0;
}
li.dir a {
	text-decoration-thickness: 2px;
	color: var(--c-link);
	padding: 0;
	margin: 0;
}
li.dir-ls a {
	text-decoration-thickness: 2px;
	color: var(--c-link);
	padding: 0;
	margin: 0;
	#margin-right: -10px;
}
ul.dirlist .dirpreview {
	position: relative;
	#max-width: 330px;
	max-width: auto;
	width: auto;

	padding-left: 20px;
	padding-right: 20px;
	text-indent: 20px;
	#line-height: 1.4rem;
	#margin-bottom: 0.5rem;
	text-transform: lowercase;

}
ul.dirlist li.note {
	#padding-right: 30px;
	margin-right: -20px;
}
.dirpreview li.note {
	#margin-left: 5px;
	padding: 0;
	padding-left: 20px;
	line-height: 1.0rem;
	padding-bottom: 0.2rem;
	padding-top: .2rem;
}
.dirpreview li.note:before {
	content: "\2192 "; 
	#font-family: monospace; 
	color: var(--c-link);
}


/* corpus */
/*************************************************************/

ul.clist {
	position: relative;
	max-width: 330px;
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-weight: 700;
	background: var(--c-bg); 
	#background: #cccccc;
}
ul.clist li {
	padding: 0;
	margin: 0;
}
li.c a {
	text-decoration-thickness: 2px;
	color: var(--c-link);
	padding: 0;
	margin: 0;
}
li.c-ls a {
	text-decoration-thickness: 2px;
	color: var(--c-link);
	padding: 0;
	margin: 0;
	#margin-right: -10px;
}
ul.dirlist .dirpreview {
	position: relative;
	#max-width: 330px;
	max-width: auto;
	width: auto;

	padding-left: 20px;
	padding-right: 20px;
	text-indent: 20px;
	#line-height: 1.4rem;
	#margin-bottom: 0.5rem;
	text-transform: lowercase;

}
ul.dirlist li.note {
	#padding-right: 30px;
	margin-right: -20px;
}
.dirpreview li.note {
	#margin-left: 5px;
	padding: 0;
	padding-left: 20px;
	line-height: 1.0rem;
	padding-bottom: 0.2rem;
	padding-top: .2rem;
}
.dirpreview li.note:before {
	content: "\2192 "; 
	#font-family: monospace; 
	color: var(--c-link);
}

/* notes */ 
/*************************************************************/

h2 + ul {
	margin-top: 0px;
}

ul.notelist {
	position: relative;
	background: var(--c-bg); 
	max-width: 330px; 
	padding: 0;
	list-style-type: none;
	border-left: 1px solid var(--c-link);
}

ul[class="notelist2"] {
	margin-top: -5px;
	margin-left: 20px;

	position: relative;
	padding: 0;
	padding-top: 12px;

	max-width: 308px; 
	list-style-type: none;
	background: var(--c-bg); 

	border-left: 3px solid var(--c-link);

	text-indent: 0;
	margin-bottom: 30px;
}

li.note {
	#padding-left: 15px;
	padding-left: 20px;
	padding-right: 20px;

	padding-bottom: 0.15rem;
	padding-top: 0.15rem;

	line-height: 1.0rem;
	text-indent: 0;
	text-transform: lowercase;

	#background: #cccccc;
}

.notelisting-arrow {
	position: relative;
	left: -20px;
	padding: 0;
	margin: 0;
	margin-left: -3px;
	margin-right: -20px;

	font-weight: 700;
	text-decoration: none;
}

.notelisting-txt {
	padding: 0;
	margin: 0;

	font-weight: 700;

	text-transform: uppercase;
	#text-decoration: underline;
	text-decoration-thickness: 1px;
}

a[class="notelisting"] {
}

#li.note:before {
#	#content: "\2192 ";
#	#content: "\2500 ";
#	content: "\21A6 ";
#	font-weight: 700;
#	color: var(--c-link);
#}

li.note a {
	text-decoration-thickness: 1px; 
	color: var(--c-link);
	font-weight: 400;
}
.notepreview {
	display: none; 
	position: fixed; 
	padding: 5px; 
	margin: 0; 
	top: 50px; 
	left: 340px; 

	width: calc(100vw - 340px - 20px);
	height: calc(100vh - 50px - 50px - 10px);
	max-width: 400px; 

	font-size: .8rem; 
	border: 1px solid var(--c-link);
	overflow-y: scroll;
	#background: var(--c-bg-hi);

	text-indent: 0;
}
li.note:hover {
	border-top: 1px solid var(--c-link);
	border-bottom: 1px solid var(--c-link);
	background: var(--c-bg-hi);
}
.note:hover .notepreview {
	display: block; 
}

.notepreview hr {
	color: var(--c-link);
	border-top: 0px;
	border-bottom: 2px dashed var(--c-link);
}


hr.preview {
	margin-top: 20px;
}

.notepreview-content {
	position: relative;
	padding: 10px;

	text-indent: 0;
	overflow-y: scroll;
}
.notepreview-content h1 {
	margin-top: 0;
	font-variant-caps: petite-caps;
	font-size: 1.2rem;
}

.notepreview-content .peek {
	font-variant-caps: none;
	text-transform: none;
}

.notepreview #TableOfContents {
	padding-left: 20px;
	font-variant-caps: petite-caps;
	font-size: 1.0rem;
}
.notepreview #TableOfContents ol li:before {
	content: counter(numero) ". ";  
	color: var(--c-link); 
	font-family: 'cmtypewriter', monospace; 
	font-variant-caps: normal;
	font-size: 0.7rem;
}

.note-summary {
	padding: 20px;
	margin: 0;
	position: relative;
	#margin-left: 20px;
}

/* lexicon */
/*************************************************************/

ul.lexlist {
	#position: relative;
	#max-width: 330px; 
	#padding: 0;

	list-style-type: none;
	border-left: 1px solid var(--c-link);
	margin-bottom: 100px;

	position: relative;
	padding: 0;
	#padding-top: 5px;
	#margin-top: -5px;
	#margin-left: 20px;

	background: var(--c-bg); 
	max-width: 329px; 
	list-style-type: none;
}
li.lex {
	padding-left: 18px;
	padding-right: 20px;
	text-indent: -18px;
	padding-bottom: 0.15rem;
	padding-top: .15rem;
	line-height: 1.0rem;
	text-transform: lowercase;
}
li.lex:before {
	#content: "\2192 "; 
	content: "\2500 "; 
	color: var(--c-link);
}
li.lex a {
	text-decoration-thickness: 1px;
	color: var(--c-link);
}
li.lex:hover {
	border-top: 1px solid var(--c-link);
	border-bottom: 1px solid var(--c-link);
	background: var(--c-highlight);
}
.lex:hover .lexpreview {
	display: block; 
}

.lexpreview {
	display: none; 
	position: fixed; 
	top: 50px; 
	left: 340px; 
	width: calc(100vw - 340px - 20px);
	height: calc(100vh - 50px - 50px);
	max-width: 400px; 

	font-family: 'cmtypewriter'; 
	font-size: .8rem; 
	color: var(--c-link);
	border: 1px solid var(--c-link);
	background: var(--c-bg); 

	margin: 0; 
	padding: 5px; 
	text-transform: none;
	text-indent: 0px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.lexpreview .title {
	line-height: 1.4rem;
	font-size: 1.4rem;
	margin-top: 0;
}
.lex-entry {
	padding-bottom: 0.5rem;
	#background: var(--c-highlight)
	#argin-left: 10px;
	#padding-left: 30px;
}
.lex-entry:hover {
	background: var(--c-highlight)
}
.lex-entry-number {
	margin-bottom: -1.0rem;
	padding: 0;
	#margin-left: 10px;

}
.lex-entry-number:before {
	content: '[';
}
.lex-entry-number:after {
	content: ']';
}
.lex-entry-text {
	border-left: 2px dashed var(--c-link);
	margin-left: 10px;
	padding-left: 20px;
}

/* problem */
/*************************************************************/

ul.problemlist {
	position: relative;
	max-width: 329px; 
	#margin-left: 10px; 
	padding: 0;
	list-style-type: none;
	border-left: 1px solid var(--c-link);
	margin-bottom: 100px;
}
li.problem {
	padding-left: 18px;
	padding-right: 20px;
	#margin-right: 20px;
	text-indent: -18px;
	padding-bottom: 0.3rem;
	padding-top: .3rem;
	#margin-bottom: 0.5rem;
	line-height: 1.0rem;
	text-transform: lowercase;
}
li.problem:before {
	#content: "\2192 "; 
	content: "\2500 "; 
	color: var(--c-link);
}
li.problem a {
	text-decoration-thickness: 1px;
	color: var(--c-link);
}
li.problem:hover {
	border-top: 1px solid var(--c-link);
	border-bottom: 1px solid var(--c-link);
	background: var(--c-highlight);
}
.problem:hover .problempreview {
	display: block; 
}

.problempreview {
	display: none; 
	position: fixed; 
	top: 50px; 
	left: 340px; 
	width: calc(100vw - 340px - 20px);
	height: calc(100vh - 50px - 50px);
	max-width: 400px; 

	font-family: 'cmtypewriter'; 
	font-size: .8rem; 
	color: var(--c-link);
	border: 1px solid var(--c-link);
	background: var(--c-bg); 

	margin: 0; 
	padding: 5px; 
	text-transform: none;
	text-indent: 0px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.problempreview h1 {
	text-transform: uppercase;
	font-family: 'cmtypewriter'; 
	font-size: .8rem; 
	line-height: 1.0rem;
	margin: 0;
	padding: 0;
	margin-top: 0;
	margin-bottom: 10px;
}
.problempreview .whatpreview {
	#border-bottom: 1px dashed var(--c-link);
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.problempreview .whatpreview p {
	font-family: 'cmtypewriter'; 
	font-size: .8rem; 
	margin: 0;
	padding: 0;
}
.problempreview .thumb {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	width: auto;
	max-width: 400px;
}

/* fin */
/*************************************************************/

footer.fin {
	position: absolute;
	bottom: 0;
	height: 30px;
	width: 100vw;

	font-size: .9rem;
	font-family: var(--f-txt);
	font-weight: 400; 
	background: var(--c-map-bg);
	color: var(--c-map-txt);
}
footer.fin p {
	margin: 0;
	padding-left: 10px;
	font-size: .9rem;
	line-height: 30px;
}

/* buttons */
/*************************************************************/

.EXIT {
	position: absolute; 
	bottom: 34px;
	margin: 0;
	height: 1.0rem;
	margin-left: 10px;
	margin-bottom: 5px;
	padding: 0;
	padding-bottom: 2px;
	padding-left: 2px;
	padding-right: 2px;

	list-style-type: none;
	border: 1px solid var(--c-exit);
}
.EXIT a {
	margin: 0;
	padding: 0;

	text-decoration: none;
	color: var(--c-exit);
	font-weight: 700;
	font-size: 1.0rem;
}


/* table of contents */
/*************************************************************/

#TableOfContents ol {
	list-style-type: none; 
	line-height: 0.8rem; 
	padding-left: 0; 
}
#TableOfContents li {
	padding-left: 30px; 
	text-indent: -30px; 
}
#TableOfContents li a {
	text-decoration: none; 
	color: var(--c-link); 
}
#TableOfContents ol li {
	counter-increment: numero; 
	margin-bottom: 4px; 
}
#TableOfContents ol li:before {
	content: counter(numero) ". ";  
	color: var(--c-link); 
	font-family: 'cmtypewriter', monospace; 
}
#TableOfContents ol {
	list-style: none; 
	counter-reset: numero; 
}
