<html>
<head>
<meta content='text/html; charset=UTF-8' name='Content-Type'>
<meta name='viewport' content='width=device-width'>
<link rel='stylesheet' href='../../../css/main.css'>
</head>

<head>
<link rel='stylesheet' href='../../../css/list.css'>

<script type="text/x-mathjax-config">
	MathJax.Hub.Config({ 
		extensions: [
			"tex2jax.js",
			"phizzy.js",
		],
		jax: [
			"input/TeX",
			"output/HTML-CSS",
		],
		"HTML-CSS": { 
			scale: 95,
			availableFonts: [],
			preferredFont: null,
			webFont: "Neo-Euler", 
			EqnChunk: 20, 
			EqnChunkFactor: 4,
			extensions: ["handle-floats.js"],
			EqnChunkDelay: 1,
			matchFontHeight: true, 
			linebreaks: {
				automatic: true, 
				width: "100% container",
			},
		},
		displayAlign: "left",
		displayIndent: "1.5em",
		tex2jax: {
			inlineMath: [
				['£','£'],
				['˝','˝'],
			],
			displayMath: [ 
				['££','££'],
			],
			processEscapes: true,
			processEnvironments: true,
			processRefs: true, 
			skipTags: ['style', 'pre'],
		},
		TeX: {
			TagSide: "right",
			extensions: [
				"AMSmath.js",
				"AMSsymbols.js",
				"noUndefined.js",
				"newcommand.js"
			],
			equationNumbers: {
				autoNumber: "AMS",
				useLabelIDs: false,
				formatNumber: function (n) {return n.toString()},
				formatTag: function (n) {return '('+n+')'},
			},
		},
		loader: {
			load: ['ui/lazy']
		},
	});
</script>
<script type="text/x-mathjax-config">
	MathJax.Hub.Config({
		TeX: {
			Macros: {
				 f: ["\\frac{#1}{#2}", 2],
				 n: ["\\nonumber \\\\[0.5em]", 0],
				 no: ["\\nonumber", 0],
				 nl: ["\\\\[0.5em]", 0],
				 cntd: ["\\n &\\hspace{5mm}", 0],
				 bgnmaths: ["\\begin{align}", 0],
				 endmaths: ["\\end{align}", 0],
				 bgnmathsn: ["\\begin{align*}", 0],
				 endmathsn: ["\\end{align*}", 0],
			}
		}
	});
</script>
<script type="text/javascript" src="../../../mathjax/MathJax/MathJax.js"></script>



<title>notes/physics/fluids/notes/</title>
</head>


<div class="map">

<p>
<a href=https://nombrilisme.gitlab.io>notes</a>

	> <a href="https://nombrilisme.gitlab.io/physics/">physics</a>
	> <a href="https://nombrilisme.gitlab.io/physics/fluids/">fluids</a>&nbsp;> <a href="">notes</a>
</p>

</div>

<body>

<div class="waterfall">
<ul class="notelist">
<li>




<li class="note">
<a href=https://nombrilisme.gitlab.io/physics/fluids/notes/outline-of-fluid-dynamics/>Quick Outline of Fluid Dynamics</a><br>
<div class="notepreview">
<h1>Quick Outline of Fluid Dynamics</h1>
<hr>

<nav id="TableOfContents"></nav>
<hr>

The configuration of a fluid is characterised by three continuous fields: density ˝ρ(⬀x,t)˝, pressure ˝p(⬀x,t)˝, and velocity ˝⬀v(⬀x,t)˝.
To describe the dynamics of a a fluid, what you need to do establish the what relationship is between changes in the fluid’s density and changes in its pressure.
The “usual” place to start is hydrostatics hydrostatics [0] the theory of fluids at rest, i.e. when the {{&lt; 词典 flow velocity &gt;}} v(x,t) is zero everywhere. – the theory of fluids at rest. By considering the forces at work in a fluid (e.g. shear (redirect) shear ⇒ shear force shear force [0] a force that acts on one part of a body in a certain direction, and another part in the opposite direction. (as opposed to the case where forces are aligned with each other (collinear): then the're just &quot;ordinary&quot; tension or compression forces.

...
</div>
</li>

</li>
<li>




<li class="note">
<a href=https://nombrilisme.gitlab.io/physics/fluids/notes/hydrostatics/>hydrostatics</a><br>
<div class="notepreview">
<h1>hydrostatics</h1>
<hr>

<nav id="TableOfContents">
  <ol>
    <li><a href="#hydrostatics-fluids-at-rest">HYDROSTATICS: FLUIDS AT REST</a></li>
    <li><a href="#pressure-varies-with-height">PRESSURE VARIES WITH HEIGHT</a></li>
    <li><a href="#pressure-on-a-small-cube-of-water">PRESSURE ON A SMALL CUBE OF WATER</a></li>
    <li><a href="#equation-of-hydrostatic-equilibrium">EQUATION OF HYDROSTATIC EQUILIBRIUM</a></li>
  </ol>
</nav>
<hr>

...
</div>
</li>

</li>
<li>




<li class="note">
<a href=https://nombrilisme.gitlab.io/physics/fluids/notes/incompressible-flows/>incompressible flows</a><br>
<div class="notepreview">
<h1>incompressible flows</h1>
<hr>

<nav id="TableOfContents"></nav>
<hr>

...
</div>
</li>

</li>
<li>




<li class="note">
<a href=https://nombrilisme.gitlab.io/physics/fluids/notes/conservation-laws/>conservation laws</a><br>
<div class="notepreview">
<h1>conservation laws</h1>
<hr>

<nav id="TableOfContents">
  <ol>
    <li><a href="#conservation-of-mass-eulerian">conservation of mass, eulerian</a></li>
    <li><a href="#conservation-of-mass-lagrangian">conservation of mass, lagrangian</a></li>
    <li><a href="#conservation-of-momentum">conservation of momentum</a></li>
  </ol>
</nav>
<hr>

...
</div>
</li>

</li>
<li>




<li class="note">
<a href=https://nombrilisme.gitlab.io/physics/fluids/notes/bernoullis-theorem/>bernoulli&rsquo;s theorem</a><br>
<div class="notepreview">
<h1>bernoulli&rsquo;s theorem</h1>
<hr>

<nav id="TableOfContents"></nav>
<hr>

...
</div>
</li>

</li>
<li>




<li class="note">
<a href=https://nombrilisme.gitlab.io/physics/fluids/notes/hydrodynamics/>hydrodynamics</a><br>
<div class="notepreview">
<h1>hydrodynamics</h1>
<hr>

<nav id="TableOfContents">
  <ol>
    <li><a href="#hydrodynamics">HYDRODYNAMICS</a></li>
    <li><a href="#conservation">CONSERVATION</a>
      <ol>
        <li><a href="#conservation-of-mass-eulerian">conservation of mass, eulerian</a></li>
        <li><a href="#conservation-of-mass-lagrangian">conservation of mass, lagrangian</a></li>
        <li><a href="#conservation-of-momentum">conservation of momentum</a></li>
      </ol>
    </li>
    <li><a href="#mechanical-stress-tensor">MECHANICAL STRESS TENSOR</a></li>
    <li><a href="#ideal-fluids">IDEAL FLUIDS</a></li>
    <li><a href="#lagrangian-momentum-conservation">LAGRANGIAN MOMENTUM CONSERVATION</a></li>
    <li><a href="#mass-conservation">MASS CONSERVATION</a></li>
    <li><a href="#momentum-conservation">MOMENTUM CONSERVATION</a></li>
    <li><a href="#the-incompressible-approximation">THE INCOMPRESSIBLE APPROXIMATION</a></li>
    <li><a href="#the-equation-of-state">THE EQUATION OF STATE</a></li>
  </ol>
</nav>
<hr>

...
</div>
</li>

</li>
<li>




<li class="note">
<a href=https://nombrilisme.gitlab.io/physics/fluids/notes/navier-stokes/>navier stokes</a><br>
<div class="notepreview">
<h1>navier stokes</h1>
<hr>

<nav id="TableOfContents"></nav>
<hr>

...
</div>
</li>

</li>
<li>




<li class="note">
<a href=https://nombrilisme.gitlab.io/physics/fluids/notes/viscous-flows/>viscous flows</a><br>
<div class="notepreview">
<h1>viscous flows</h1>
<hr>

<nav id="TableOfContents">
  <ol>
    <li><a href="#fluid-motion-recap">FLUID MOTION RECAP</a></li>
    <li><a href="#viscosity">VISCOSITY</a></li>
    <li><a href="#shear-stress-decomposition-of-velocity-gradient">SHEAR, STRESS, DECOMPOSITION OF VELOCITY GRADIENT</a></li>
    <li><a href="#fluids-and-shear-stresses">FLUIDS AND SHEAR STRESSES</a></li>
    <li><a href="#navier-stokes-eqation">NAVIER STOKES EQATION</a></li>
    <li><a href="#viscosity-1">VISCOSITY</a></li>
    <li><a href="#reynolds">REYNOLDS</a></li>
  </ol>
</nav>
<hr>

...
</div>
</li>

</li>
<li>




<li class="note">
<a href=https://nombrilisme.gitlab.io/physics/fluids/notes/vorticity/>vorticity</a><br>
<div class="notepreview">
<h1>vorticity</h1>
<hr>

<nav id="TableOfContents">
  <ol>
    <li><a href="#definitions">DEFINITIONS</a></li>
    <li><a href="#2d-vorticity">2D VORTICITY</a></li>
    <li><a href="#vorticity-evolution">VORTICITY EVOLUTION</a></li>
  </ol>
</nav>
<hr>

DEFINITIONS ¶ define vorticity, ˝⬀ω˝, the curl of the velocity field ˝⬀v˝:
££ \begin{equation} ⬀ω = ∇ × ⬀v \end{equation} ££ ¶ vorticity is a vector field. this means you can describe a set of integral curves, called vortex lines vortex lines [0] the set of curves (<em>integral curves</em>, tbs) defined by solving the following equation for the parameter ˝λ˝: ££ ⌠d⬀x⧸dλ⌡ = ⬀ω ££ where ˝⬀ω = ⬀ω(⬀x,t)˝ is the {{&lt; 词典 vorticity &gt;}} field. analagous to magnetic field lines. , by solving ˝d⬀x/dλ = ⬀ω˝ for a parameter ˝λ˝.
¶ the flux of vorticity across a surface ˝S˝:
££ \begin{equation} ∫₍S₎ ⬀ω ⦁ d⬀A \end{equation} ££ and by stokes theorem this is also equal to the line integral of the velocity field along the boundary of the surface ˝𝝏S˝:
££ \begin{equation} ∫₍𝝏S₎ ⬀v ⦁ d⬀x \end{equation} ££ this is the circulation circulation [0] given a surface ˝S˝, the circulation ˝Γ˝ is the line integral of the velocity field around the boundary of the surface ˝𝝏S˝: ££ Γ = ∫₍𝝏S₎ ⬀v ⦁ d⬀x ££ which by stokes' theorem is also equal to the flux of vorticity across the surface: ££ Γ = ∫₍S₎ ⬀ω ⦁ d⬀A ££ around ˝S˝, denoted ˝Γ˝.

...
</div>
</li>

</li>
<li>




<li class="note">
<a href=https://nombrilisme.gitlab.io/physics/fluids/notes/similarity-solutions/>diffusion, similarity solutions, intermediate asymptotics</a><br>
<div class="notepreview">
<h1>diffusion, similarity solutions, intermediate asymptotics</h1>
<hr>

<nav id="TableOfContents">
  <ol>
    <li><a href="#recap-anomalous-dimensions">RECAP: ANOMALOUS DIMENSIONS</a></li>
    <li><a href="#the-diffusion-equation">THE DIFFUSION EQUATION</a></li>
    <li><a href="#lt-behaviour-of-the-diffusion-equation">LT BEHAVIOUR OF THE DIFFUSION EQUATION</a></li>
    <li><a href="#dimensional-analysis-of-the-diffusion-equation">DIMENSIONAL ANALYSIS OF THE DIFFUSION EQUATION</a></li>
    <li><a href="#intermediate-asymptotics-of-the-first-kind">INTERMEDIATE ASYMPTOTICS OF THE FIRST KIND</a></li>
    <li><a href="#where-anomalous-dimensions-come-in">WHERE ANOMALOUS DIMENSIONS COME IN</a></li>
  </ol>
</nav>
<hr>

...
</div>
</li>

</li>
<li>




<li class="note">
<a href=https://nombrilisme.gitlab.io/physics/fluids/notes/barenblatt-equation/>barenblatt equation</a><br>
<div class="notepreview">
<h1>barenblatt equation</h1>
<hr>

<nav id="TableOfContents">
  <ol>
    <li><a href="#barenblatts-equation">BARENBLATT&rsquo;S EQUATION</a></li>
    <li><a href="#dimensional-analysis-of-barenblatts-equation">DIMENSIONAL ANALYSIS OF BARENBLATT&rsquo;S EQUATION</a></li>
    <li><a href="#similarity-solution-with-an-anomalous-dimension">SIMILARITY SOLUTION WITH AN ANOMALOUS DIMENSION</a></li>
  </ol>
</nav>
<hr>

...
</div>
</li>

</li>
<li>




<li class="note">
<a href=https://nombrilisme.gitlab.io/physics/fluids/notes/modified-porous-medium-equation/>modified porous medium equation</a><br>
<div class="notepreview">
<h1>modified porous medium equation</h1>
<hr>

<nav id="TableOfContents">
  <ol>
    <li><a href="#intro">INTRO</a></li>
    <li><a href="#the-modified-porous-medium-equation">THE MODIFIED POROUS MEDIUM EQUATION</a></li>
    <li><a href="#mathematical-formulation">MATHEMATICAL FORMULATION</a></li>
    <li><a href="#the-modified-porous-medium-equation-1">THE MODIFIED POROUS MEDIUM EQUATION</a></li>
  </ol>
</nav>
<hr>

...
</div>
</li>

</li>
<li>




<li class="note">
<a href=https://nombrilisme.gitlab.io/physics/fluids/notes/turbulence/>turbulence</a><br>
<div class="notepreview">
<h1>turbulence</h1>
<hr>

<nav id="TableOfContents">
  <ol>
    <li><a href="#recap-laminar-pipe-flow">RECAP: LAMINAR PIPE FLOW</a></li>
    <li><a href="#flow-past-a-cylinder-setup">FLOW PAST A CYLINDER: SETUP</a>
      <ol>
        <li><a href="#reynolds-number">REYNOLDS NUMBER</a></li>
        <li><a href="#mach-number-if-compressible">MACH NUMBER (if compressible)</a></li>
        <li><a href="#equations---stationary-initial-flow">EQUATIONS - stationary initial flow</a></li>
        <li><a href="#scaling-relation----similar-solutions-for-v">SCALING RELATION &ndash; SIMILAR SOLUTIONS FOR ˝⬀v˝</a></li>
        <li><a href="#stagnation-pressure">STAGNATION PRESSURE</a></li>
        <li><a href="#drag-coefficient">DRAG COEFFICIENT</a></li>
      </ol>
    </li>
    <li><a href="#flow-past-a-cylinder-increasing-re-transition-to-turbulence">FLOW PAST A CYLINDER: INCREASING Re, TRANSITION TO TURBULENCE</a>
      <ol>
        <li><a href="#creeping-flow-re--1">CREEPING FLOW, Re « 1</a></li>
        <li><a href="#increasing-re-slightly-re--1">INCREASING Re SLIGHTLY, Re ∼ 1</a></li>
        <li><a href="#laminar-boundary-layer-formation-re--1">LAMINAR BOUNDARY LAYER FORMATION, Re ∼ 1</a></li>
        <li><a href="#flow-separation-re--5">FLOW SEPARATION, RE ∼ 5</a></li>
        <li><a href="#karman-vortex-street-re--100">KARMAN VORTEX STREET, Re ∼ 100</a></li>
        <li><a href="#turbulence-re--1000">TURBULENCE, Re ∼ 1000</a></li>
        <li><a href="#turbulent-boundary-layer-re--310">TURBULENT BOUNDARY LAYER, Re ∼ 3⋄10⁵</a></li>
        <li><a href="#3d-nature-of-turbulence">3D NATURE OF TURBULENCE</a></li>
      </ol>
    </li>
    <li><a href="#critical-reynolds-number-for-the-onset-of-turbulence">CRITICAL REYNOLDS NUMBER FOR THE ONSET OF TURBULENCE</a></li>
    <li><a href="#important-properties-of-turbulence">IMPORTANT PROPERTIES OF TURBULENCE</a>
      <ol>
        <li><a href="#disorder">DISORDER</a></li>
        <li><a href="#a-range-of-interacting-scales">A RANGE OF INTERACTING SCALES</a></li>
        <li><a href="#vorticity">VORTICITY</a></li>
        <li><a href="#large-dissipation">LARGE DISSIPATION</a></li>
        <li><a href="#efficient-mixing-and-transport">EFFICIENT MIXING AND TRANSPORT</a></li>
      </ol>
    </li>
    <li><a href="#the-role-of-vorticity">THE ROLE OF VORTICITY</a></li>
  </ol>
</nav>
<hr>

...
</div>
</li>

</li>
<li>




<li class="note">
<a href=https://nombrilisme.gitlab.io/physics/fluids/notes/weak-turbulence/>the weak turbulence formalism</a><br>
<div class="notepreview">
<h1>the weak turbulence formalism</h1>
<hr>

<nav id="TableOfContents">
  <ol>
    <li><a href="#strong-vs-weak-turbulence">STRONG vs WEAK TURBULENCE</a></li>
    <li><a href="#assumptions">ASSUMPTIONS</a></li>
    <li><a href="#equations">EQUATIONS</a>
      <ol>
        <li><a href="#setup">SETUP</a></li>
        <li><a href="#time-averaging-the-equations">TIME-AVERAGING THE EQUATIONS</a></li>
      </ol>
    </li>
    <li><a href="#reynolds-stress-tensor">REYNOLDS STRESS TENSOR</a></li>
    <li><a href="#reynolds-stress-for-stationary-homogeneous-turbulence">REYNOLDS STRESS FOR STATIONARY HOMOGENEOUS TURBULENCE</a></li>
    <li><a href="#correlation-function">CORRELATION FUNCTION</a></li>
    <li><a href="#turbulent-wakes-and-jets">TURBULENT WAKES AND JETS</a></li>
  </ol>
</nav>
<hr>

...
</div>
</li>

</li>
<li>




<li class="note">
<a href=https://nombrilisme.gitlab.io/physics/fluids/notes/turbulent-boundary-layers/>turbulent boundary layers</a><br>
<div class="notepreview">
<h1>turbulent boundary layers</h1>
<hr>

<nav id="TableOfContents">
  <ol>
    <li><a href="#recap-blasius-profile-for-a-laminar-boundary-layer">recap: blasius profile for a laminar boundary layer</a></li>
    <li><a href="#composition-of-a-turbulent-boundary-layer">composition of a turbulent boundary layer</a></li>
    <li><a href="#assumptions">assumptions</a></li>
    <li><a href="#schematic-view-of-the-boundary-layers">schematic view of the boundary layers</a></li>
    <li><a href="#structure-of-the-turbulent-boundary-layer">structure of the turbulent boundary layer</a></li>
    <li><a href="#structure-of-the-laminar-sublayer">structure of the laminar sublayer</a></li>
    <li><a href="#the-turbulent-velocity-of-the-largest-eddies-in-the-turbulent-zone">the turbulent velocity of the largest eddies in the turbulent zone</a></li>
    <li><a href="#evolution-of-the-boundary-layer-thickness-δt-down-the-wall">evolution of the boundary layer thickness ˝δ₍t₎˝ down the wall</a></li>
    <li><a href="#separation-in-a-turbulent-boundary-layer">separation in a turbulent boundary layer</a></li>
  </ol>
</nav>
<hr>

...
</div>
</li>

</li>
<li>




<li class="note">
<a href=https://nombrilisme.gitlab.io/physics/fluids/notes/transition-to-turbulence/>transition to turbulence</a><br>
<div class="notepreview">
<h1>transition to turbulence</h1>
<hr>

<nav id="TableOfContents">
  <ol>
    <li><a href="#rotating-couette-flow-between-two-concentric-cylinders">rotating couette flow between two concentric cylinders</a></li>
    <li><a href="#route-to-turbulence-in-rotating-couette-flows">route to turbulence in rotating couette flows:</a></li>
    <li><a href="#the-feigenbaum-sequence--logistic-equation">the feigenbaum sequence / logistic equation</a></li>
  </ol>
</nav>
<hr>

...
</div>
</li>

</li>
<li>




<li class="note">
<a href=https://nombrilisme.gitlab.io/physics/fluids/notes/quick-notes-on-ql/>a few quick notes on the quasilinear approximation</a><br>
<div class="notepreview">
<h1>a few quick notes on the quasilinear approximation</h1>
<hr>

<nav id="TableOfContents"></nav>
<hr>

...
</div>
</li>

</li>
</ul>

</div>

</body>

<footer class="fin">
	<p>
	<span class="who">
		K.A. 2023
	</span>
	</p>
</footer>


</html>
