{{ define "main" }}

<head>
<link rel='stylesheet' href='/css/list.css'>
{{ partial "loadmathjax.html" . }}
{{ partial "colour.html" . }}
<title>{{ .Site.Home.Title }}{{ .RelPermalink }}</title>
</head>


<div class="map">
{{ partial "map/list.html" . }}
</div>

<body>

<div class="waterfall">
{{ .Content }}
</div>

</body>

{{ partial "fin.html" . }}

{{ end }}
