{{ define "main" }}

<head>
<link rel='stylesheet' href='/css/note.css'>
{{- partial "loadmathjax.html" . -}}
{{- partial "colour.html" . -}}
{{- partial "font.html" . -}}
<title>{{ .Site.Home.Title }}{{ .RelPermalink }}</title>
{{ if .Param "wide" }}
<link rel='stylesheet' href='/css/wide.css'>
{{ end }}
</head>

<body>

<div class="toc">
{{ partial "button/note-back.html" . }}
{{ .TableOfContents }}
</div>

<div class="waterfall">

<span class="pagetitle">{{ .Title }}</span>

{{ .Params.time }}

{{ .Content }}

</div>

</body>


{{ end }}
