<html>
<head>
<meta content='text/html; charset=UTF-8' name='Content-Type'>
<meta name='viewport' content='width=device-width'>
<link rel='stylesheet' href='../../../../css/main.css'>
</head>

<head>
<link rel='stylesheet' href='../../../../css/note.css'>
<script type="text/x-mathjax-config">
	MathJax.Hub.Config({ 
		extensions: [
			"tex2jax.js",
			"phizzy.js",
		],
		jax: [
			"input/TeX",
			"output/HTML-CSS",
		],
		"HTML-CSS": { 
			scale: 95,
			availableFonts: [],
			preferredFont: null,
			webFont: "Neo-Euler", 
			EqnChunk: 20, 
			EqnChunkFactor: 4,
			extensions: ["handle-floats.js"],
			EqnChunkDelay: 1,
			matchFontHeight: true, 
			linebreaks: {
				automatic: true, 
				width: "100% container",
			},
		},
		displayAlign: "left",
		displayIndent: "1.5em",
		tex2jax: {
			inlineMath: [
				['£','£'],
				['˝','˝'],
			],
			displayMath: [ 
				['££','££'],
			],
			processEscapes: true,
			processEnvironments: true,
			processRefs: true, 
			skipTags: ['style', 'pre'],
		},
		TeX: {
			TagSide: "right",
			extensions: [
				"AMSmath.js",
				"AMSsymbols.js",
				"noUndefined.js",
				"newcommand.js"
			],
			equationNumbers: {
				autoNumber: "AMS",
				useLabelIDs: false,
				formatNumber: function (n) {return n.toString()},
				formatTag: function (n) {return '('+n+')'},
			},
		},
		loader: {
			load: ['ui/lazy']
		},
	});
</script>
<script type="text/x-mathjax-config">
	MathJax.Hub.Config({
		TeX: {
			Macros: {
				 f: ["\\frac{#1}{#2}", 2],
				 n: ["\\nonumber \\\\[0.5em]", 0],
				 no: ["\\nonumber", 0],
				 nl: ["\\\\[0.5em]", 0],
				 cntd: ["\\n &\\hspace{5mm}", 0],
				 bgnmaths: ["\\begin{align}", 0],
				 endmaths: ["\\end{align}", 0],
				 bgnmathsn: ["\\begin{align*}", 0],
				 endmathsn: ["\\end{align*}", 0],
			}
		}
	});
</script>
<script type="text/javascript" src="../../../../mathjax/MathJax/MathJax.js"></script>


<title>notes/physics/fluids/notes/vorticity/</title>

</head>

<body>

<div class="toc">

<span class="back">
<a href="../../">⇜ fluids</a>
</span>


<nav id="TableOfContents">
  <ol>
    <li><a href="#definitions">DEFINITIONS</a></li>
    <li><a href="#2d-vorticity">2D VORTICITY</a></li>
    <li><a href="#vorticity-evolution">VORTICITY EVOLUTION</a></li>
  </ol>
</nav>
</div>

<div class="waterfall">

<span class="title">vorticity</span>

202304041741

<h1 id="definitions">DEFINITIONS</h1>
<hr>
<p></p>
<p class="kaput"><span class="kaput-pilcrow">¶</span>

define vorticity, ˝⬀ω˝, the curl of the velocity field ˝⬀v˝:</p>


	<div class="eq">
	££
	\begin{equation}
	  ⬀ω = ∇ × ⬀v 
	\end{equation}
	££
	</div>


<p></p>
<p class="kaput"><span class="kaput-pilcrow">¶</span>

vorticity is a vector field. this means you can describe a set of integral
curves, called 










<span class="lexicon-link">
<a href="https://nombrilisme.gitlab.iophysics/fluids/lexicon/vortex-lines/">vortex lines</a>


<span class="lexicon-preview">

<span class="lexpreview-title">vortex lines</span>
<br>


[0]
<br>
<span class="lexpreview-what">the set of curves (_integral curves_, tbs) defined by solving the following 
equation for the parameter ˝λ˝:
££
  ⌠d⬀x⧸dλ⌡ = ⬀ω
££
where ˝⬀ω = ⬀ω(⬀x,t)˝ is the {{&lt; 词典 vorticity &gt;}} field.

analagous to magnetic field lines.
</span>

<br>




</span>


</span>


, by solving ˝d⬀x/dλ = ⬀ω˝ for a
parameter ˝λ˝.</p>
<p></p>
<p class="kaput"><span class="kaput-pilcrow">¶</span>

the flux of vorticity across a surface ˝S˝:</p>


	<div class="eq">
	££
	\begin{equation}
	  ∫₍S₎ ⬀ω ⦁ d⬀A 
	\end{equation}
	££
	</div>


<p>and by stokes theorem this is also equal to the line integral of the velocity
field along the boundary of the surface ˝𝝏S˝:</p>


	<div class="eq">
	££
	\begin{equation}
	  ∫₍𝝏S₎ ⬀v ⦁ d⬀x 
	\end{equation}
	££
	</div>


<p>this is the 










<span class="lexicon-link">
<a href="https://nombrilisme.gitlab.iophysics/fluids/lexicon/circulation/">circulation</a>


<span class="lexicon-preview">

<span class="lexpreview-title">circulation</span>
<br>


[0]
<br>
<span class="lexpreview-what">given a surface ˝S˝, the circulation ˝Γ˝ is the line integral of the velocity 
field around the boundary of the surface ˝𝝏S˝:
££
  Γ = ∫₍𝝏S₎ ⬀v ⦁ d⬀x
££
which by stokes&#39; theorem is also equal to the flux of vorticity across the 
surface:
££
  Γ = ∫₍S₎ ⬀ω ⦁ d⬀A
££
</span>

<br>




</span>


</span>


 around ˝S˝, denoted ˝Γ˝.</p>
<p></p>
<p class="kaput"><span class="kaput-pilcrow">¶</span>

vorticity has zero divergence:</p>


	<div class="eq">
	££
	\begin{equation}
	  ∇⦁⬀ω = 0 
	\end{equation}
	££
	</div>


<p>this implies that vortex lines are continuous. note the similarity to magnetic
fields and field lines.</p>
<h1 id="2d-vorticity">2D VORTICITY</h1>
<hr>
<p></p>
<p class="kaput"><span class="kaput-pilcrow">¶</span>

decomposition of vorticity for 2d flows: recall that ˝⬀ω = ∇×⬀v˝, so in 2D
(taking only the z-component) you can express vorticity as the scalar quantity</p>


	<div class="eq">
	££
	\begin{equation}
	  ω = (𝝏₍x₎v₍y₎ - 𝝏₍y₎v₍x₎)⇧e₍z₎
  𝓮𝓺{scalarvorticity} 
	\end{equation}
	££
	</div>


<p>since it&rsquo;s characterised purely by its magnitude, not direction. often called

  
  
  
  
  
  
  
  
  
  
  <span class="lexicon-link">
  <a href="https://nombrilisme.gitlab.iophysics/fluids/lexicon/scalar-vorticity/">scalar vorticity</a>
  
  
  <span class="lexicon-preview">
  
  <span class="lexpreview-title">scalar vorticity</span>
  <br>
  
  
  [0]
  <br>
  <span class="lexpreview-what">in a purely 2d flow the {{&lt; 词典 vorticity &gt;}} will point exclusively in the 
  z-direction so you can think of it as a scalar quantity (it&#39;s characterised 
  by its magnitude not its direction). in this case you can take only the 
  z-component of the cross product and express the vorticity as
  ££
    ω = (𝝏₍x₎v₍y₎ - 𝝏₍y₎v₍x₎)⇧e₍z₎
  ££
  </span>
  
  <br>
  
  
  
  
  </span>
  
  
  </span>
  
  
.</p>
<p></p>
<p class="kaput"><span class="kaput-pilcrow">¶</span>

the vorticity at a point is the sum of the angular velocities of two
perpendicular lines passing through that point. this is implied by equation
\eqref{scalarvorticity}.</p>
<p>this means you can &ldquo;measure&rdquo; 2d vorticity by placing a &ldquo;vane&rdquo; with 2
orthogonal fins into the vortical flow, and observing its rate of rotation.
the nature of the flow (see examples below) will impart an angular velocity to
each fin of the vane. the total angular velocity of the vane is the average of
the angular velocities on each fin. [TB p731]
</p>

  
  
  	
  
  
  	
  
  
  
  <div class="figure">
  <img src="../../figures/VaneInVorticalFlow.png" width="600">
  </div>

<p></p>
<p class="kaput"><span class="kaput-pilcrow">¶</span>

uniformly rotating flow: a 2d flow around a point with constant angular
velocity ˝⬀Ω˝. the vorticity is ˝2⬀Ω˝ everywhere.</p>

  
  
  	
  
  
  	
  
  
  
  <div class="figure">
  <img src="../../figures/2dFlowConstantAngMom.png" width="600">
  </div>

<p>the angular velocity ˝⬀Ω˝ is the same at all points in this flow.</p>
<p>velocity field:</p>


	<div class="eq">
	££
	\begin{equation}
	  ⬀v = ⬀Ω × ⬀r 
	\end{equation}
	££
	</div>


<p>where ˝⬀r˝ is the radial vector.</p>
<p>vorticity:</p>


	<div class="eq">
	££
	\begin{equation}
	  ⬀ω = 2⬀Ω ͺͺ∀ͺ⬀r 
	\end{equation}
	££
	</div>


<p></p>
<p class="kaput"><span class="kaput-pilcrow">¶</span>

spiralling inward flow: a 2d flow with constant angular momentum per unit
mass, ˝⬀j = j⇧z˝. the vorticity is zero everywhere except the centre of
rotation.</p>

  
  
  	
  
  
  	
  
  
  
  <div class="figure">
  <img src="../../figures/2dFlowConstantAngMomPerUMass.png" width="600">
  </div>

<p>here the angular momentum and angular velocity changes radially. this is the
kinda of vorticity in a tornado or in a drain.</p>
<p>velocity field:</p>


	<div class="eq">
	££
	\begin{equation}
	  ⬀v = ⬀j × ⌠1⧸r²⌡⬀r 
	\end{equation}
	££
	</div>


<p>where ˝r = |⬀r|˝ is the radius.</p>
<p>vorticity:</p>


	<div class="eq">
	££
	\begin{equation}
	  ⬀ω = 2πjͺδ(⬀r) 
	\end{equation}
	££
	</div>


<p>where ˝δ(⬀r)˝ is the 2d dirac delta function (zero everywhere except the
centre of rotation, where ˝⬀r = 0˝)</p>
<p>why the vorticity zero everywhere: two adjacent fluid elements separated
<em>tangentially</em> rotate around each other with angular velocity ˝⬀j/r²˝. two
adjacent fluid elements separated <em>radially</em> rotate around each other with
angular velocity ˝-⬀j/r²˝. the average of the two angular velocities is zero.</p>
</p>
<p class="kaput"><span class="kaput-pilcrow">¶</span>


  
  
  	
  
  
  	
  
  
  
  <div class="figure">
  <img src="../../figures/ShearingFlowLaminarBoundaryLayer.png" width="600">
  </div>

<h1 id="vorticity-evolution">VORTICITY EVOLUTION</h1>
<hr>


</div>

</body>


</html>
