{{ define "main" }}

<head>
<link rel='stylesheet' href='/css/lexicon.css'>
{{ partial "colour.html" . }}
</head>

<body>

<div class="map">
{{ partial "map.html" . }}
</div>

<div class="waterfall">

<h1 class="title">{{ .Title }}</h1>

redirect → {{ .Param "redirect" | markdownify }}

</div>

</body>

{{ end }}
