:root {
	--c-bg: #111111;
	--c-bg-lo: #111111;
	--c-bg-hi: #222222; 
	--c-bg-hi-hi: #222222; 
	--c-fg: #cb6d51;
	--c-fg-hot: #954535; 
	--c-fg-cold: #edddd4;
	--c-map-border: var(--c-fg);
	--c-exit: #3cb371;
}
