:root {
	--f-txt: 'concrete';
}

body {
	text-align: justify;
}

#h1.title {
#	font-family: 'concrete';
#	font-weight: 700;
#	font-size: 1.8rem;
#	margin-top: 1.0rem; 
#	margin-bottom: 1.0rem; 
#	line-height: 1.6rem;
#	font-variant-caps: small-caps; 
#	text-transform: none;
#	text-align: left;
#}

.pagetitle {
	font-size: 1.6rem;
}

h1 {
	font-size: 1.2rem;
}
h1:before {
	font-size: 1.2rem;
	margin-right: 10px;
}

.prepend {
	font-variant-caps: small-caps; 
	font-style: normal;
	font-size: 1.2rem;
	font-weight: 700;
}


h2[class="kaput"] {
	margin-top: 20px; 
}
