<html>
<head>
<meta content='text/html; charset=UTF-8' name='Content-Type'>
<meta name='viewport' content='width=device-width'>
<link rel='stylesheet' href='../../../../css/main.css'>
</head>

<head>
<link rel='stylesheet' href='../../../../css/note.css'>
<script type="text/x-mathjax-config">
	MathJax.Hub.Config({ 
		extensions: [
			"tex2jax.js",
			"phizzy.js",
		],
		jax: [
			"input/TeX",
			"output/HTML-CSS",
		],
		"HTML-CSS": { 
			scale: 95,
			availableFonts: [],
			preferredFont: null,
			webFont: "Neo-Euler", 
			EqnChunk: 20, 
			EqnChunkFactor: 4,
			extensions: ["handle-floats.js"],
			EqnChunkDelay: 1,
			matchFontHeight: true, 
			linebreaks: {
				automatic: true, 
				width: "100% container",
			},
		},
		displayAlign: "left",
		displayIndent: "1.5em",
		tex2jax: {
			inlineMath: [
				['£','£'],
				['˝','˝'],
			],
			displayMath: [ 
				['££','££'],
			],
			processEscapes: true,
			processEnvironments: true,
			processRefs: true, 
			skipTags: ['style', 'pre'],
		},
		TeX: {
			TagSide: "right",
			extensions: [
				"AMSmath.js",
				"AMSsymbols.js",
				"noUndefined.js",
				"newcommand.js"
			],
			equationNumbers: {
				autoNumber: "AMS",
				useLabelIDs: false,
				formatNumber: function (n) {return n.toString()},
				formatTag: function (n) {return '('+n+')'},
			},
		},
		loader: {
			load: ['ui/lazy']
		},
	});
</script>
<script type="text/x-mathjax-config">
	MathJax.Hub.Config({
		TeX: {
			Macros: {
				 f: ["\\frac{#1}{#2}", 2],
				 n: ["\\nonumber \\\\[0.5em]", 0],
				 no: ["\\nonumber", 0],
				 nl: ["\\\\[0.5em]", 0],
				 cntd: ["\\n &\\hspace{5mm}", 0],
				 bgnmaths: ["\\begin{align}", 0],
				 endmaths: ["\\end{align}", 0],
				 bgnmathsn: ["\\begin{align*}", 0],
				 endmathsn: ["\\end{align*}", 0],
			}
		}
	});
</script>
<script type="text/javascript" src="../../../../mathjax/MathJax/MathJax.js"></script>


<title>notes/physics/fluids/notes/the-forces-in-a-fluid/</title>

</head>

<body>

<div class="toc">

<span class="back">
<a href="../../">⇜ fluids</a>
</span>


<nav id="TableOfContents">
  <ol>
    <li><a href="#stress">STRESS</a></li>
    <li><a href="#strain-deformation">STRAIN, DEFORMATION</a></li>
    <li><a href="#shear-force-and-shear-stress">SHEAR FORCE AND SHEAR STRESS</a></li>
    <li><a href="#what-distinguishes-a-fluid">WHAT DISTINGUISHES A FLUID</a></li>
  </ol>
</nav>
</div>

<div class="waterfall">

<span class="title">macroscopic description of a fluid</span>

202305171346

<h1 id="stress">STRESS</h1>
<hr>
<p></p>
<p class="kaput"><span class="kaput-pilcrow">¶</span>

define 










<span class="lexicon-link">
<a href="https://nombrilisme.gitlab.iophysics/fluids/lexicon/stress/">stress</a>


<span class="lexicon-preview">

<span class="lexpreview-title">stress</span>
<br>


[0]
<br>
<span class="lexpreview-what">a quantity that describes _all the internal forces within a body that cause 
it to deform_. mathematically, has the same units as pressure: a force per 
unit area.

not to be confused with {{&lt; 词典 strain &gt;}}, which describes the deformation 
itself.
</span>

<br>

[1]
<br>
<span class="lexpreview-what">describes the internal forces that neighbouring particles exert on each 
other in a continuous material that (may) result in deformation.
</span>

<br>




</span>


</span>


: a quantity that describes all the internal forces
acting within a body that cause it to deform.</p>
<p></p>
<p class="kaput"><span class="kaput-pilcrow">¶</span>

mathematically stress is defined as a force per unit area. its dimensions are
˝[σ] = L⁽-1⁾ M T⁽-2⁾˝ and in SI units ˝Pa = kg m⁽-1⁾ s⁽-2⁾˝</p>
<p></p>
<p class="kaput"><span class="kaput-pilcrow">¶</span>

some examples of stress: tension, compression, shear, torsion.</p>

  
  
  	
  
  
  	
  
  
  
  <div class="figure">
  <img src="../../figures/KindsOfStress.jpg" width="600">
  </div>

<p></p>
<p class="kaput"><span class="kaput-pilcrow">¶</span>

don&rsquo;t confuse stress with 










<span class="lexicon-link">
<a href="https://nombrilisme.gitlab.iophysics/fluids/lexicon/strain/">strain</a>


<span class="lexicon-preview">

<span class="lexpreview-title">strain</span>
<br>


[0]
<br>
<span class="lexpreview-what">a measure of deformation of an object. it describes the displacement between 
particles relative to a reference length.


strains are usually dimensionless

whenever a solid material undergoas a strain (deformation), there is an 
internal elastic stress that causes the object to restore to its original 
non-deformed state (like the spring force)

in liquids and gases, ONLY deformations that change the volume will generate a 
persistent elastic stress
- if the deformation changes gradually, in fluids there will be some viscous 
  stress that opposes the change.

elastic and viscous stresses are both kinds of mechanical stress.
</span>

<br>

[1]
<br>
<span class="lexpreview-what">functional form of deformation:
```
  ↗x = F(↗x&#39;)
```
- ↗x&#39; is an array of reference positions for points of the body
- deformations have units of length
</span>

<br>




</span>


</span>


, which is a quantity that
describes the actual deformation of a body (see below).</p>
<p></p>
<p class="kaput"><span class="kaput-pilcrow">¶</span>

compressive stress: is when forces (like tension or compression) cause an
object to become compressed.</p>
<ul>
<li>the bigger these forces and the smaller the cross sectional area, the
greater the stress.</li>
<li>is why stress is defined as force per unit area</li>
</ul>
<h1 id="strain-deformation">STRAIN, DEFORMATION</h1>
<hr>
<p>¶ strain is a measure of deformation of an object. it describes the displacement
between particles relative to a reference length</p>
<p>¶ functional form of deformation:</p>


	<div class="eq">
	££
	\begin{equation}
	  ↗x = F(↗x&#39;) 
	\end{equation}
	££
	</div>


<ul>
<li>↗x&rsquo; is an array of reference positions for points of the body</li>
<li>deformations have units of length</li>
</ul>
<p>¶ strains are usually dimensionless</p>
<p>¶ whenever a solid material undergoas a strain (deformation), there is an
internal elastic stress that causes the object to restore to its original
non-deformed state (like the spring force)</p>
<p>¶ in liquids and gases, ONLY deformations that change the volume will generate a
persistent elastic stress</p>
<ul>
<li>if the deformation changes gradually, in fluids there will be some viscous
stress that opposes the change.</li>
</ul>
<p>¶ elastic and viscous stresses are both kinds of mechanical stress.</p>
<h1 id="shear-force-and-shear-stress">SHEAR FORCE AND SHEAR STRESS</h1>
<hr>




<div class="defn">
<p class="defn-name">SHEAR FORCES

<div class="defn-entry">
forces that acts on one part of a body in a certain direction, and another
part in the opposite direction
</div>

</div>

<p>¶ if the forces are aligned (collinear), then they are just tension or
compression forces</p>




<div class="defn">
<p class="defn-name">SHEAR STRESS τ

<div class="defn-entry">
<p>the component of stress that&rsquo;s coplanar with the body&rsquo;s cross section</p>


	<div class="eq">
	££
	\begin{equation}
	  τ = ÷FA 
	\end{equation}
	££
	</div>


<ul>
<li>˝A˝ is the cross sectional area of the material that&rsquo;s parallel to the
applied force</li>
<li>points are coplanar if there&rsquo;s a plane that contains them all</li>
</ul>

</div>

</div>

<p>link: 




[<a class="lex" href="https://nombrilisme.gitlab.iophysics/fluids/lexicon/shear-stress/">shear stress</a>]
</p>
<h1 id="what-distinguishes-a-fluid">WHAT DISTINGUISHES A FLUID</h1>
<hr>
<p>¶ the main difference between a fluid and solid: a fluid can&rsquo;t maintain a shear
stress for any length of time.</p>
<ul>
<li>ie if you apply a shear to a fluid, it&rsquo;ll move</li>
<li>some fluids move more easily under shear than others</li>
</ul>
<p>¶ viscosity: property that describes how easily a fluid yields (under a shear
stress)</p>


</div>

</body>


</html>
