body {
	font-family: 'concrete', monospace;
	text-align: justify;
}

h1.title {
	font-family: 'concrete';
	font-weight: 700;
	font-size: 1.8rem;
	margin-top: 1.0rem; 
	margin-bottom: 1.0rem; 
	line-height: 1.6rem;
	font-variant-caps: small-caps; 
	text-transform: none;
	text-align: left;
}

.prepend {
	font-variant-caps: small-caps; 
	font-style: normal;
	font-size: 1.2rem;
	font-weight: 700;
}
