{{ define "main" }}

<head>
<link rel='stylesheet' href='/css/blank.css'>
{{- partial "loadmathjax.html" . -}}
{{- partial "colour.html" . -}}
{{- partial "font.html" . -}}
<title>{{ .Site.Home.Title }}{{ .RelPermalink }}</title>
</head>

<body>

<div class="map">
{{- partial "map/page.html" . }}
</div>

<div class="waterfall">

{{ if .Param "title" }}
<h1 class="title">{{ .Title }}.</h1>
{{ end }}

{{ if .Param "time" }}
<div class="time">
{{ .Params.time }}
</div>
{{ end }}

{{ if .Param "what" }}
<div class="what">
<p class="whatproblem">{{ .Params.what | markdownify }}</p>
</div>
{{ end }}

{{ .Content }}

</div>

</body>

{{ partial "fin.html" . }}

{{ end }}
