<h1>{{ .Title }}</h1>

{{ if .Param "thumb" }}
<div class="thumb">
<img src="../figures/{{ .Params.thumb }}" width="400px">
</div>
{{ end }}


<div class="whatpreview">
{{ .Params.what | markdownify }}
</div>

<hr>

{{ .Summary }}

<br><br>
<div class="more">
⋮
</div>
