@import url("/fonts/cmun/typewriter/cmun-typewriter.css"); 
@import url("/fonts/cmun/typewriter-variable/cmun-typewriter-variable.css"); 
@import url("/fonts/cmun/typewriter-light/cmun-typewriter-light.css"); 
@import url("/fonts/cmun/sans/cmun-sans.css"); 

@font-face { 
	font-family: 'concrete'; 
	src: url('/fonts/euler/CMU-Concrete-Roman.ttf.eot') format('embedded-opentype'),
	url('/fonts/euler/CMU-Concrete-Roman.ttf.woff') format('woff'), 
	url('/fonts/euler/CMU-Concrete-Roman.ttf.svg') format('svg'); 
}

@font-face { 
	font-family: 'neoeuler'; 
	font-style: normal; 
	font-weight: normal; 
	src: url('/fonts/neoeuler/euler.woff') format('woff');
}

@font-face { 
	font-family: 'et-book'; 
	font-style: normal; 
	font-weight: normal; 
	src: url('/fonts/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.woff') format('woff');
}

@font-face { 
	font-family: 'jlgbold'; 
	src: url('/fonts/jlg/jeanlucweb-bold.eot') format('embedded-opentype'),
	url('/fonts/jlg/jeanlucweb-bold.woff') format('woff'), 
	url('/fonts/jlg/jeanlucweb-bold.svg') format('svg'); 
}

@font-face { 
	font-family: 'jlgthin'; 
	src: url('/fonts/jlg/jeanlucweb-thin.eot') format('embedded-opentype'),
	url('/fonts/jlg/jeanlucweb-thin.woff') format('woff'), 
	url('/fonts/jlg/jeanlucweb-thin.svg') format('svg'); 
}



:root {
	--c-bg: #f5f5f5;
	--c-bg-lo: #f5f5f5;
	--c-bg-hi: #deb887; 
	--c-bg-hi-hi: #E9D2B4; 
	--c-fg: #000000; 
	--c-fg-hot: #a52a2a;
	--c-fg-cold: #000000; 
	--c-exit: #3cb371;
}

:root {
	--c-txt: var(--c-fg); 
	--c-link: var(--c-fg-hot); 
	--c-highlight: var(--c-bg-hi); 
	--c-map-bg: var(--c-bg-lo); 
	--c-map-txt: var(--c-fg); 
	--c-map-border: var(--c-fg);
	--c-list-link: var(--c-fg-hot); 
}

:root {
	--f-txt: 'cmtypewriter', monospace;
	--f-map: 'cmtypewriter', monospace; 
	--f-problem: 'cmtypewriter', monospace; 
	--f-list: 'cmtypewriter', monospace;
}

html {
	position: relative; 
	min-height: 100%; 
	font-size: 16px; 
	background: var(--c-bg-lo); 
	color: var(--c-fg); 
	scrollbar-width: none; 
}

::-webkit-scrollbar {
	display: none; 
}

body {
	margin: 0;
	margin-top: 30px;
	margin-bottom: 30px;
	padding; 0;
}

.map {
	position: absolute;
	top: 0;

	margin: 0;
	padding: 0;

	max-width: 100%;
	width: 100%;
	height: 30px;

	border-bottom: 1px solid var(--c-map-border);
}
.map p {
	margin: 0;
	padding: 0;
	padding-left: 10px;

	font-family: var(--f-map); 
	font-size: 0.9rem; 
	line-height: 30px;

	font-weight: 400; 
	background: var(--c-map-bg);
	color: var(--c-map-txt);
	text-transform: lowercase;
}
.map a {
	text-decoration: none; 
	color: var(--c-map-txt);
}

footer.fin {
	position: absolute;
	bottom: 0;
	height: 30px;
	width: 100vw;

	font-size: .9rem;
	font-family: var(--f-txt);
	font-weight: 400; 
	background: var(--c-map-bg);
	color: var(--c-map-txt);
	border-top: 1px solid var(--c-map-border);
}
footer.fin p {
	padding: 0;
	margin: 0;
	font-size: .9rem;
}

.eq {
	margin-top: -1.2rem; 
	margin-bottom: -1.2rem; 
}

.eq-m-middle {
	margin-top: -1.5rem; 
	#margin-bottom: -1.5rem; 
}
.eq-m-first {
	margin-top: -1.0rem; 
	#margin-bottom: -1.5rem; 
}
.eq-m-last {
	margin-top: -1.5rem; 
	margin-bottom: -1.0rem; 
}
.eq + ul {
	margin-top: 1.0rem; 
}
.eq + .figure {
	margin-top: 1.0rem;
}

ul .eq {
	margin-top: -0.5rem;
	margin-bottom: -0.5rem;
}

table,th,td {
	font-family: 'neoeuler';
	font-weight: 400;
	text-align: left;
}
table {
	#width: 300px;
	border: 1px solid;
	margin-left: 30px;
}
th {
	border-bottom: 1px solid;
}
th, td {
	width: 80px; 
}

.JLGB {
	font-family: 'jlgbold';
	font-size: 3.5rem;
	letter-spacing: 0.2rem;

}

.JLGT {
	font-family: 'jlgthin';
	font-size: 3.5rem;
	letter-spacing: 0.2rem;

}

@media print {
	.anchors {display: none; }
}
