body {
	margin-top: 0;

	font-family: var(--f-txt); 
	line-height: 1.20; 
	background: var(--c-bg-lo);
	color: var(--c-txt); 

	counter-reset: h1;
}

.waterfall {
	margin-left: calc(50% - 300px);
	margin-right: auto;
	padding-bottom: 12.0rem;
	padding: 10px;

	max-width: 600px;
	background: var(--c-bg);
	#background: #cccccc;
	line-height: 1.2;

	counter-reset: h1; 
}

/* headers */
/**********************************************************/

.pagetitle {
	display: block;
	margin-top: 0; 
	margin-bottom: 1.0rem; 

	#font-family: 'jlgbold';
	font-size: 1.0rem; 
	#text-align: justify;
	#text-justify: distribute;
	#text-align-last: justify;
	#letter-spacing: .6em;
	text-transform: uppercase;
	font-weight: 700;
	#font-variant-caps: small-caps;  
}


.title {
	display: block;
	margin-top: 0; 
	margin-bottom: 1.0rem; 

	#font-family: 'jlgbold';
	font-size: 1.0rem; 
	#text-align: justify;
	#text-justify: distribute;
	#text-align-last: justify;
	#letter-spacing: .6em;
	text-transform: uppercase;
	font-weight: 700;
	#font-variant-caps: small-caps;  
}

h1 {
	margin-top: 3.0rem;

	font-family: var(--f-txt);
	font-size: 1.0rem; 
	font-weight: 700; 
	line-height: 1.4rem; 

	counter-reset: kaput;
}
h1:before {
	counter-increment: h1;
	content: counter(h1) "." " "; 

	font-family: var(--f-anchors); 
	font-size: 1.0rem; 
	font-weight: 700; 

	#padding-right: 20px;
}
h1 a {
	color: var(--c-txt); 
}
h1 + hr {
	margin-top: -0.7rem; 
	#border-radius: 0.5px;
}

h2[class="kaput"] {
	margin-top: 20px; 
	display: inline;
	counter-increment: kaput;

	font-size: 1.0rem; 
	font-family: var(--f-txt); 
	font-weight: 700; 
	line-height: 1.0;
}

.kaput-define {
	font-style: italic;
	font-weight: 400;
}

.kaput-term {
	text-transform: uppercase;
	text-decoration: none;
}

hr {
	border: solid var(--c-txt);
	border-radius: 1px;
}

/* paragraphs, text */
/**********************************************************/

p {
	font-size: 1.0rem; 
	margin-top: 1.5rem;
	line-height: 1.1rem;
}

#hr + p + p[class="kaput"] {
#	margin-top: 0;
#}

span[class="kaput-pilcrow"] {
	margin-bottom: 0rem;

	font-size: 1.3rem;
	font-weight: 700;
	position: relative;
	#bottom: 2px;
	#background: #cccccc;
	#text-decoration: underline;
	#text-decoration-thickness: 2px;
	#color: var(--c-link);
}
span[class="kaput-pilcrow"]:after {
	content: " " counter(h1) counter(kaput) ".";
	#content: '\00A0\00A0\00A0\00A0';
	#content: ' \00A0';

	margin-right: 0px;
	margin-left: 0px;

	font-size: 1.0rem;
	font-weight: 700;
	position: relative;
	#border-bottom: 2px solid;
	text-decoration: underline;
	text-decoration-thickness: 2px;
}

a {
	color: var(--c-link); 
}

.definetag {
	font-style: italic;
	#font-variant-caps: petite-caps;
}

.idea {
	margin-right: -8px;

	font-size: 1.0rem;
	font-weight: 400;
	text-transform: uppercase;
	#text-decoration: underline;

}

.outline {
	#border: 1px dashed;
	padding-top: 5px;
	padding-bottom: 5px;

	background: var(--c-bg-hi);
}


/* equations */
/**********************************************************/

.eq {
	padding-left: 20px;
}


/* lists */
/**********************************************************/

ul { 
	list-style-type: '\25B8  '; 
	font-size: 1.0rem;
}
ul li {
	margin-top: .2rem; 
}
p + ul {
	margin-top: -0.5rem; 
}

ol {
	#margin-top: 1.0rem; 
}
ol li {
	#margin-left: 1.0rem; 
	margin-top: 1.0rem; 
}
ol.properties:before {
	content: "Properties. "; 
	font-variant-caps: petite-caps; 
	#margin-left: -2.4rem; 
	font-weight: 700; 
	padding: 0; 
}

/* footer */
/**********************************************************/

footer.fin {
	padding: 0;
	margin: 0;
	height: 30px;
}
footer.fin p {
	padding: 0;
	padding-left: calc(50% - 300px + 10px);

	line-height: 30px;
	margin: 0;
}


/* images */
/**********************************************************/

.fig {
	#text-align: right;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.caption {
	margin-left: 40px;
	font-size: 0.9rem;
}
.caption:before {
	counter-increment: fig;
	content: "Figure " counter(fig) ". ";
	font-size: 0.9rem;
	font-weight: 700;
	font-variant-caps: small-caps;
}

/* buttons */
/**********************************************************/

.back {
	#width: 150px;
}

.EXIT {
	position: fixed;
	bottom: 0;

	padding-right: 3px;
	padding-top: 2px;
	padding-left: 2px;

	color: var(--c-exit);
	border: 2px solid var(--c-exit);
	text-decoration: none;
	font-weight: 700;
}

/* table of contents */
/**********************************************************/

.toc {
	position: fixed;
	left: 0;
	top: 0;
	width: 150px;
	height: calc(100%);
	padding: 0;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 5px;

	background: var(--c-bg-lo);

	text-align: left;
}
#TableOfContents {
	margin: 0;
	margin-top: 10px;
	margin-right: 5px;
	margin-bottom: 10px;
	padding: 0;

	font-family: var(--f-txt);
	font-size: .9rem;
}
#TableOfContents ol {
	margin: 0;
	padding: 0;

	list-style-type: none; 
	line-height: 0.9rem; 

	overflow-y: scroll;
}
#TableOfContents li {
	padding-left: 17px; 
	#padding-right: 0px; 
	text-indent: -17px; 
	margin-top: 7px; 
	padding-top: 0;
}
#TableOfContents li a {
	font-family: var(--f-txt), monospace; 
	text-decoration: none; 
	color: var(--c-link); 
}
#TableOfContents ol li {
	counter-increment: numero; 
	margin-bottom: 4px; 
}
#TableOfContents ol li:before {
	content: counter(numero) ". ";  
	color: var(--c-link); 
	font-family: 'concrete', monospace; 
}
#TableOfContents ol {
	list-style: none; 
	counter-reset: numero; 
	overflow-y: scroll;
}

/* lexicon */
/**********************************************************/

button.lexicon-ref {
	#display: inline;

	padding: 0;
	margin: 0;
	#margin-right: -8px;

	font-family: var(--f-txt);
	font-size: 1.0rem;

	color: var(--c-link);
	text-align: left;
	text-decoration: underline;

	border: none;
	background: var(--c-bg);
}

span.lexicon-link a {
	text-decoration-thickness: 1px;
	color: var(--c-link);
}

span.lexicon-link:hover {
	background: var(--c-highlight);
	display: inline;

}

.lexicon-link:hover + .lexicon-box {
	display: block;

	position: fixed;
	#position: relative; 
	top: 30px; 
	bottom: 30px;
	height: auto;
	left: calc(50% + 300px + 20px); 
	margin-right: 10px;
	width: auto;
	max-width: 400px;

}

.lexicon-box {
	display: none; 

	font-family: 'cmtypewriter'; 
	font-size: .8rem; 
	color: var(--c-link);
	border: 2px solid var(--c-link);
	background: var(--c-bg-hi);

	margin: 0; 
	padding: 5px; 
	text-transform: none;
	text-indent: 0px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.lexicon-box-title {
	margin-top: 0;
	font-size: 1.4rem;
	text-transform: uppercase;
	line-height: 1.4rem;
}

.lexicon-box-what-text {
	font-size: 0.9rem;
	margin-left: 12px;
	margin-top: -22px;
	padding-left: 20px;
	padding-top: 0;
	border-left: 2px dashed var(--c-link);
}
.lexicon-box-what-text p {
	font-size: 0.9rem;
}

.lexicon-box img {
	max-width: 100%;
	width: auto;
}

.lexicon-displaybox {
	margin-left: 25px;
	margin-top: 10px;
	padding: 0;
	#padding-top: 10px;
	padding-left: 20px;
	padding-right: 10px;

	border-left: 2px dashed var(--c-txt);
	#background: var(--c-bg-hi);
}

.lexicon-displaybox-what-text {
	margin-left: 40px;
}

a.lexdisplay {
	text-transform: uppercase;
	font-size: 1.2rem;
	font-weight: 700;
	text-decoration: none;
}

/* citations */ 
/**********************************************************/

a.inlinecitation {
	display: inline;
	color: var(--c-txt);
	text-decoration: none;
	#text-decoration-thickness: 1px solid var(--c-txt);
	text-align: left;
}

a.inlinecitation:hover {
	background: var(--c-bg-hi);
	color: var(--c-link);
}

a.inlinecitation:hover .inlinecitation-sourcebox {
	display: block;
	position: sticky;

	padding: 5px;

	background: var(--c-bg-hi);
	border: 2px solid var(--c-link);
}

.inlinecitation-sourcebox {
	display: none;

	color: var(--c-link);
}

.inlinecitation .author {
	text-transform: uppercase;
}
.inlinecitation .institution {
	font-style: italic;
}

/* src */
/**********************************************************/

.src {
	text-indent: -20px;
	padding-left: 20px;
	margin-top: 10px;
	#margin-bottom: 20px;
}
.src .author {
	font-variant-caps: small-caps;  
	font-size: 1.0rem;
}
.src .year {
	#font-variant-caps: small-caps;  
	font-size: 1.0rem;
}
.src .from {
	#font-variant-caps: small-caps;  
	#font-size: 1.0rem;
	font-style: italic;
}

/* media width */
/**********************************************************/

@media (max-width: 800px) {
	body {
		max-width: 100vw; 
		margin-left: auto; 
		margin-right: auto;
	}

	.toc {
		max-width: 150px;
	}
	#TableOfContents {
		left: 0;
		font-size: .8rem;
	}
	#TableOfContents ol {
		overflow-y: scroll;
		margin: 0;
		padding: 5px;
	}
	#TableOfContents li {
		padding-left: 15px; 
		padding-right: 00px; 
		text-indent: -15px; 
		margin-top: 0; 
		padding-top: 0;
	}

	.waterfall {
		margin-left: 150px;
	}
	footer.fin p {
		padding-left: 160px;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	span.lexicon-link:hover + .lexicon-box {
		display: block;
		text-decoration: none;

		z-index: 1;

		position: fixed;
		left: 10;
		top: 10;

		height: auto;
		max-height: 100%;
		min-height: 0;
		width: auto;
		max-width: 300px;


	}

	.lexicon-box {


	}

	.lexicon-box {

		height: auto;
		max-height: 100%;
		min-height: 0;
		width: auto;
		max-width: 300px;

		font-family: 'cmtypewriter'; 
		font-size: .8rem; 
		border: 2px solid var(--c-link);
		color: var(--c-link);
		background: var(--c-bg-hi);

		overflow: scroll;

		text-align: left;
	}

	.lexicon-box p {
		font-size: 0.9rem;
		padding: 0;
	}

	.lexicon-box-what-text {
		font-size: 0.8rem;
		line-height: 0.8rem;
		margin-left: 0;
		margin-top: -22px;
		padding-left: 0;
		padding-top: 0;
		border-left: none;
	}
	.lexicon-box-what-text p {
		font-size: 0.8rem;
		line-height: 0.8rem;
	}

}

@media print {
	body {
		max-width: 100vw; 
		margin-left: auto; 
		margin-right: auto
		padding-bottom: 0; 
	}

	.map {
		display: none; 
	}

	#TableOfContents {
		display: none;
	}
}
