body {
	font-family: 'concrete', var(--f-txt); 
	background: var(--c-bg-lo);
	color: var(--c-txt); 
	line-height: 1.20; 
	position: relative; 
	margin: 0;
	padding-bottom: 12.0rem;
}

.waterfall {
	max-width: 600px;
	background: var(--c-bg);
	line-height: 1.2;
	padding: 10px;
	margin-left: calc(50% - 300px);
	margin-right: auto;

	counter-reset: h1; 
	counter-reset: fig;
}

.abstract {
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
	margin-bottom: 60px;
}
.abstract:before {
	content: "Abstract. ";
	font-variant-caps: petite-caps;
	font-weight: 700;
}

h1 {
	font-family: 'concrete'; 
	font-size: 1.1rem; 
	line-height: 1.4rem; 
	font-weight: 700; 
	margin-top: 2.0rem; 
}
h1:not(.title):before {
	counter-increment: h1;
	content: counter(h1) ' '; 
	font-family: var(--f-anchors); 
	font-size: 1.2rem; 
	#text-decoration: underline; 
	font-weight: 700; 
	padding-right: 10px;
}
h1:not(.title) {
	#text-decoration: underline;
	font-size: 1.2rem; 
	margin-top: 2.0rem; 
}
h1 a {
	color: var(--c-txt); 
}

h1.title {
	margin-top: 1.0rem; 
	margin-bottom: 4.0rem; 

	font-family: 'jlgbold';
	font-size: 3.4rem; 
	#font-variant-caps: small-caps;  
	font-weight: normal;

	text-align: left;
	#letter-spacing: .5rem;
	line-height: 3.4rem;
}

h1 + hr {
	margin-top: -0.7rem; 
}

hr {
	border: solid var(--c-txt);
	border-radius: 1px;
}

h2 {
	font-size: 1.0rem; 
	font-family: 'concrete', var(--f-txt); 
	font-weight: 700; 
	margin-top: 1.4rem; 
	line-height: 1.0;
	#margin-bottom: -.5rem;
}
h2 + hr {
	margin-top: -0.5rem; 
}

p {
	font-size: 1.0rem; 
	margin-top: 1.5rem;
	text-align: justify;
}

a {
	color: var(--c-link); 
}

a.back {
	color: var(--c-txt);
	text-decoration: none;
}
a.exit {
	color: var(--c-exit);
	border: 2px solid var(--c-exit);
	text-decoration: none;
	padding-right: 3px;
	padding-top: 2px;
	padding-left: 2px;
	#line-height: 1.2rem;
	font-weight: 700;
	margin-left: 10px;
	margin-top: 10px;
}

ul { 
	#list-style-type: '\21B3  '; 
	list-style-type: '\25B8  '; 
	font-size: 1.0rem;
	#margin-top: -0.5rem; 
}
ul li {
	#margin-left: 0.0rem; 
	#padding-left: 1.0rem; 
	#padding-bottom: .5rem; 
	margin-top: .2rem; 
}

p + ul {
	margin-top: -0.5rem; 
}

ol {
	#margin-top: 1.0rem; 
}
ol li {
	#margin-left: 1.0rem; 
	margin-top: 1.0rem; 
}
ol.properties:before {
	content: "Properties. "; 
	font-variant-caps: petite-caps; 
	#margin-left: -2.4rem; 
	font-weight: 700; 
	padding: 0; 
}

blockquote {
	margin-left: 40px; 
	margin-right: 0; 
	#padding-left: 40px; 

	font-size: 0.8rem;
}

code {
	margin-left: 20px; 
	font-family: 'cmtypewriter'; 
	font-weight: 700; 
}

.eq-single {
	margin-top: -1.0rem; 
	margin-bottom: -1.0rem; 
}
.eq {
	margin-top: -1.5rem; 
	#margin-bottom: -1.5rem; 
}
.eq-first {
	margin-top: -1.0rem; 
	#margin-bottom: -1.5rem; 
}
.eq-last {
	margin-top: -1.5rem; 
	margin-bottom: -1.0rem; 
}
.eq-single + ul {
	margin-top: 1.0rem; 
}

.fig {
	#max-width: 600; 
	text-align: center; 
	#border-style: dotted; 
	#border-width: 1px; 
}

.toc {
	overflow: scroll;
	position: fixed;
	width: 200px;
	left: calc((40% - 300px)/2 - 100px);
	top: 30;
	background: var(--c-bg-lo);
	#background: #dddddd;
	font-size: .9rem;
	overflow-y: scroll;
	padding: 5px;
	padding-top: 10px;
}
.toc {
	position: fixed;
	width: 200px;
	left: 0;
	top: 0;
	height: 100%;
}
#TableOfContents {
#	position: fixed;
#	width: 200px;
#	left: calc((40% - 300px)/2 - 100px);
#	top: 30;
#	#background: var(--c-bg-lo);
#	background: #cccccc;
	font-size: .9rem;
	overflow-y: scroll;
	padding-top: 10px;
}
#TableOfContents ol {
	list-style-type: none; 
	line-height: 0.9rem; 
	margin: 10px;
	padding: 0;
	overflow-y: scroll;
}
#TableOfContents li {
	padding-left: 17px; 
	#padding-right: 0px; 
	text-indent: -17px; 
	margin-top: 7px; 
	padding-top: 0;
}
#TableOfContents li a {
	text-decoration: none; 
	color: var(--c-link); 
	font-family: 'concrete', monospace; 
}
#TableOfContents ol li {
	counter-increment: numero; 
	margin-bottom: 4px; 
}
#TableOfContents ol li:before {
	content: counter(numero) ". ";  
	color: var(--c-link); 
	font-family: 'concrete', monospace; 
}
#TableOfContents ol {
	list-style: none; 
	counter-reset: numero; 
	overflow-y: scroll;
}

footer.fin {
	padding: 0;
}
footer.fin p {
	padding-left: calc(50% - 300px + 10px);
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0;
}

.lexicon-link {
	#display: inline;
}
.lexicon-link:hover a {
	#color: #0000ff;
	background: var(--c-bg-hi-hi);
}
.lexicon-preview {
	display: none;

	position: fixed; 
	top: 50px; 
	left: calc(40% + 300px + 20px); 
	max-width: 400px;
	width: 400px;
	height: calc(100vh - 50px - 50px - 30px);
	#max-width: 400px; 

	font-family: 'cmtypewriter'; 
	font-size: .9rem; 
	border: 1px solid var(--c-link);
	color: var(--c-link);
	#background: var(--c-bg); 
	background: var(--c-bg-hi-hi); 

	padding: 10px; 
	#padding-left: 0; 
	#text-indent: 10px;
	text-align: left;

	#margin: 0; 
}

.lexpreview-title {
	display: none;
	font-variant-caps: small-caps;  
	font-size: 1.2rem;
	color: var(--c-link);
}
.lexpreview-what {
	display: none;
	font-variant-caps: normal;  
	#font-size: 1.4rem;
	color: var(--c-link);
	#font-size: 0.8rem;
	#margin-left: 10px;
	border-left: 2px dashed;
	padding-left: 10px;
	margin-left: 10px;

}

.lexicon-link:hover .lexicon-preview {
	display: block;
}
.lexicon-link:hover .lexicon-preview .lexpreview-title {
	display: block;
}
.lexicon-link:hover .lexicon-preview .lexpreview-what {
	display: block;
}

hr + .src {
	margin-top: 30px;
}
.src {
	text-indent: -20px;
	padding-left: 20px;
	margin-top: 10px;
	#margin-bottom: 20px;
}
.src .author {
	font-variant-caps: small-caps;  
	font-size: 1.0rem;
}
.src .year {
	#font-variant-caps: small-caps;  
	font-size: 1.0rem;
}
.src .from {
	#font-variant-caps: small-caps;  
	#font-size: 1.0rem;
	font-style: italic;
}


/* citations */ 
/**********************************************************/

a.inlinecitation {
	display: inline;
	color: var(--c-txt);
	text-decoration: none;
	#text-decoration-thickness: 1px solid var(--c-txt);
}

a.inlinecitation:hover {
	background: var(--c-bg-hi);
	color: var(--c-link);
}

a.inlinecitation:hover .inlinecitation-sourcebox {
	display: block;
	position: sticky;

	padding: 5px;

	background: var(--c-bg-hi);
	border: 2px solid var(--c-link);
}

.inlinecitation-sourcebox {
	display: none;

	color: var(--c-link);
}

.inlinecitation .author {
	text-transform: uppercase;
}
.inlinecitation .institution {
	font-style: italic;
}


/* images */
/**********************************************************/

.fig {
	#text-align: right;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.caption {
	margin-left: 40px;
	font-size: 0.9rem;
}
.caption:before {
	counter-increment: fig;
	content: "Figure " counter(fig) ". ";
	font-size: 0.9rem;
	font-weight: 700;
	font-variant-caps: small-caps;
}

/* src */
/**********************************************************/

.src {
	#text-indent: -40px;
	#padding-left: 40px;
	margin-top: 10px;
	margin-bottom: 20px;
}
.src .author {
	font-variant-caps: small-caps;  
	font-size: 1.0rem;
}
.src .year {
	#font-variant-caps: small-caps;  
	font-size: 1.0rem;
}
.src .from {
	#font-variant-caps: small-caps;  
	#font-size: 1.0rem;
	font-style: italic;
}

/* media width */
/**********************************************************/

@media (max-width: 800px) {
	body {
		max-width: 100vw; 
		margin-left: auto; 
		margin-right: auto; 
	}

	.toc {
		overflow: scroll;
		max-width: 150px;
		padding: 0;
		padding-top: 20px;
	}
	#TableOfContents {
		max-width: 150px;
		left: 0;
		overflow: scroll;
		font-size: .8rem;
		#background: #cccccc;
		padding: 5px;
		padding-top: 20px;
	}
	#TableOfContents ol {
		overflow-y: scroll;
		margin: 0;
		#padding: 5px;
	}
	#TableOfContents li {
		padding-left: 15px; 
		padding-right: 00px; 
		text-indent: -15px; 
		margin-top: 0; 
		padding-top: 0;
	}

	.waterfall {
		margin-left: 150px;
	}
	footer.fin p {
		padding-left: 160px;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.lexicon-preview {
		position: fixed; 
		top: 0; 
		left: 150; 
		max-width: 100%;
		right: 0;
		width: auto;
		height: auto;
		max-height: calc(100% - 200px);
		overflow: scroll;

		font-family: 'cmtypewriter'; 
		font-size: .9rem; 
		border: 1px solid var(--c-link);
		color: var(--c-link);
		background: var(--c-bg-hi-hi); 

		padding: 10px; 
		text-align: left;
	}
}

@media print {
	body {
		max-width: 100vw; 
		margin-left: auto; 
		margin-right: auto
		padding-bottom: 0; 
	}

	.map {
		display: none; 
	}

	#TableOfContents {
		display: none;
	}
}
