body {
	margin-top: 0;
	padding-bottom: 12.0rem;

	font-family: var(--f-txt); 
	line-height: 1.20; 
	background: var(--c-bg-lo);
	color: var(--c-txt); 

	counter-reset: h1;
}

.waterfall {
	margin-left: calc(50% - 300px);
	margin-right: auto;
	padding-bottom: 12.0rem;
	padding: 10px;
	top: 0;

	max-width: 600px;
	background: var(--c-bg);
	#background: #cccccc;
	line-height: 1.2;

	counter-reset: h1; 
}

pre {
	padding: 0;
	margin: 0;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 30px;
	#background: var(--c-highlight);
	background: #dddddd;
	overflow-x: scroll;
	text-indent: 0;
}
code {
	padding: 0;
	padding-left: 0px;

	font-family: monospace;
	font-size: 1.0rem;
	line-height: 1.2rem;
}

/* headers */
/**********************************************************/

.title {
	display: block;
	margin-top: 0; 
	margin-bottom: 1.0rem; 

	font-size: 1.8rem; 
	font-weight: 700;
	font-variant-caps: small-caps;  
}

h1 {
	margin-top: 2.0rem; 

	font-family: var(--f-txt);
	font-size: 1.1rem; 
	font-weight: 700; 
	line-height: 1.4rem; 

	counter-reset: kaput;
}
h1:before {
	counter-increment: h1;
	content: counter(h1); 

	font-family: var(--f-anchors); 
	font-size: 1.2rem; 
	font-weight: 700; 

	padding-right: 20px;
}
h1 {
	#text-decoration: underline;
	font-size: 1.2rem; 
	margin-top: 2.0rem; 
}
h1 a {
	color: var(--c-txt); 
}
h1 + hr {
	margin-top: -0.7rem; 
}

h2 {
	font-size: 1.0rem; 
	font-family: 'cmtypewriter', var(--f-txt); 
	font-weight: 700; 
	margin-top: 1.4rem; 
	line-height: 1.0;
	#margin-bottom: -.5rem;
}
h2 + hr {
	margin-top: -0.5rem; 
}

hr {
	border: solid var(--c-txt);
	border-radius: 1px;
}

/* paragraphs, text */
/**********************************************************/

p {
	font-size: 1.0rem; 
	margin-top: 1.5rem;
	line-height: 1.1rem;
}

p[class="kaput"] {
	margin-top: 2.0rem;
	counter-increment: kaput;
}

hr + p + p[class="kaput"] {
	margin-top: 0;
}

span[class="kaput-pilcrow"] {
	margin-bottom: 0rem;

	font-size: 1.2rem;
	position: relative;
	#bottom: 2px;
	#background: #cccccc;
	text-decoration: underline;
	text-decoration-thickness: 2px;
	#color: var(--c-link);
}
span[class="kaput-pilcrow"]:after {
	content: " " counter(h1) counter(kaput) ".";
	#content: '\00A0\00A0\00A0\00A0';
	#content: ' \00A0';

	#margin-right: -40px;

	font-size: 1.0rem;
	font-weight: 700;
	position: relative;
	#border-bottom: 2px solid;
	#text-decoration: underline;
	#text-decoration-thickness: 2px;
}

a {
	color: var(--c-link); 
}


/* equations */
/**********************************************************/

.eq {
	padding-left: 20px;
}


/* lists */
/**********************************************************/

ul { 
	list-style-type: '\25B8  '; 
	font-size: 1.0rem;
}
ul li {
	margin-top: .2rem; 
}
p + ul {
	margin-top: -0.5rem; 
}

ol {
	#margin-top: 1.0rem; 
}
ol li {
	#margin-left: 1.0rem; 
	margin-top: 1.0rem; 
}
ol.properties:before {
	content: "Properties. "; 
	font-variant-caps: petite-caps; 
	#margin-left: -2.4rem; 
	font-weight: 700; 
	padding: 0; 
}

/* footer */
/**********************************************************/

footer.fin {
	padding: 0;
	margin: 0;
	height: 30px;
}
footer.fin p {
	padding: 0;
	padding-left: calc(50% - 300px + 10px);

	line-height: 30px;
	margin: 0;
}


/* images */
/**********************************************************/

img {
	max-width: 100%;
	width: auto;
}

.fig {
	#max-width: 600; 
	text-align: center; 
	#border-style: dotted; 
	#border-width: 1px; 
}

/* buttons */
/**********************************************************/

.back {
	#width: 150px;
}

.EXIT {
	position: fixed;
	bottom: 0;

	padding-right: 3px;
	padding-top: 2px;
	padding-left: 2px;

	color: var(--c-exit);
	border: 2px solid var(--c-exit);
	text-decoration: none;
	font-weight: 700;
}

/* table of contents */
/**********************************************************/

.toc {
	position: fixed;
	left: 0;
	top: 0;
	width: 150px;
	height: calc(100%);
	padding: 0;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 5px;

	background: var(--c-bg-lo);
}
#TableOfContents {
	margin: 0;
	margin-top: 10px;
	margin-right: 5px;
	margin-bottom: 10px;
	padding: 0;

	font-family: var(--f-txt);
	font-size: .9rem;

	overflow-y: scroll;
}
#TableOfContents ol {
	margin: 0;
	padding: 0;

	list-style-type: none; 
	line-height: 0.9rem; 

	overflow-y: scroll;
}
#TableOfContents li {
	padding-left: 17px; 
	#padding-right: 0px; 
	text-indent: -17px; 
	margin-top: 7px; 
	padding-top: 0;
}
#TableOfContents li a {
	font-family: var(--f-txt), monospace; 
	text-decoration: none; 
	color: var(--c-link); 
}
#TableOfContents ol li {
	counter-increment: numero; 
	margin-bottom: 4px; 
}
#TableOfContents ol li:before {
	content: counter(numero) ". ";  
	color: var(--c-link); 
	font-family: 'concrete', monospace; 
}
#TableOfContents ol {
	list-style: none; 
	counter-reset: numero; 
	overflow-y: scroll;
}

/* lexicon */
/**********************************************************/

.lexicon-link {
	#display: inline;
}
.lexicon-link:hover a {
	background: var(--c-bg-hi-hi);
}
.lexicon-preview {
	display: none;

	position: fixed; 
	top: 30px; 
	bottom: 30px;
	height: auto;
	left: calc(50% + 300px + 20px); 
	#width: calc(100vw - (50% + 300px + 20px) - 20px);
	margin-right: 10px;
	width: auto;
	max-width: 400px;

	font-family: 'cmtypewriter'; 
	font-size: .9rem; 
	border: 1px solid var(--c-link);
	color: var(--c-link);
	#background: var(--c-bg); 
	background: var(--c-bg-hi-hi); 

	padding: 10px; 
	#padding-left: 0; 
	#text-indent: 10px;
	text-align: left;

	#margin: 0; 
}

.lexpreview-title {
	display: none;
	font-variant-caps: small-caps;  
	font-size: 1.6rem;
	color: var(--c-link);
}
.lexpreview-what {
	display: none;
	font-variant-caps: normal;  
	#font-size: 1.4rem;
	color: var(--c-link);
	#font-size: 0.8rem;
	#margin-left: 10px;
	border-left: 2px dashed;
	padding-left: 10px;
	margin-left: 10px;

}

.lexicon-link:hover .lexicon-preview {
	display: block;
}
.lexicon-link:hover .lexicon-preview .lexpreview-title {
	display: block;
}
.lexicon-link:hover .lexicon-preview .lexpreview-what {
	display: block;
}

/* src */
/**********************************************************/

.src {
	text-indent: -20px;
	padding-left: 20px;
	margin-top: 10px;
	#margin-bottom: 20px;
}
.src .author {
	font-variant-caps: small-caps;  
	font-size: 1.0rem;
}
.src .year {
	#font-variant-caps: small-caps;  
	font-size: 1.0rem;
}
.src .from {
	#font-variant-caps: small-caps;  
	#font-size: 1.0rem;
	font-style: italic;
}

/* media width */
/**********************************************************/

@media (max-width: 800px) {
	body {
		max-width: 100vw; 
		margin-left: auto; 
		margin-right: auto;
	}

	.toc {
		max-width: 150px;
	}
	#TableOfContents {
		left: 0;
		font-size: .8rem;
	}
	#TableOfContents ol {
		overflow-y: scroll;
		margin: 0;
		padding: 5px;
	}
	#TableOfContents li {
		padding-left: 15px; 
		padding-right: 00px; 
		text-indent: -15px; 
		margin-top: 0; 
		padding-top: 0;
	}

	.waterfall {
		margin-left: 150px;
	}
	footer.fin p {
		padding-left: 160px;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.lexicon-preview {
		position: sticky;
		top: 0;
		left: 150; 
		right: 0;
		margin: 0;

		max-width: 100%;
		width: auto;
		height: auto;
		max-height: calc(50vh);

		font-family: 'cmtypewriter'; 
		font-size: .9rem; 
		border: 1px solid var(--c-link);
		color: var(--c-link);
		background: var(--c-bg-hi-hi); 

		overflow: scroll;

		text-align: left;
	}

	a > .lexicon-preview {
		text-decoration: none;
	}

}

@media print {
	body {
		max-width: 100vw; 
		margin-left: auto; 
		margin-right: auto
		padding-bottom: 0; 
	}

	.map {
		display: none; 
	}

	#TableOfContents {
		display: none;
	}
}
