.waterfall {
	max-width: 1200px;
	background: var(--c-bg);
	line-height: 1.2;
	padding: 10px;
	#margin-left: 340px;
	margin-left: auto;
	margin-right: auto;
	counter-reset: h1; 
}

img {
	max-width: 100%;
	width: 100%;
}

footer.fin {
	padding: 0;
	margin: 0;
	height: 30px;
}
footer.fin p {
	padding: 0;
	padding-left: 10px;
	line-height: 30px;
}


@media (max-width: 800px) {
	body {
		max-width: 100vw; 
		margin-left: auto; 
		margin-right: auto;
	}

	.toc {
		max-width: 150px;
		width: auto;
	}

	footer.fin p {
		padding: 0;
		padding-left: 10px;
		line-height: 30px;
	}

}
