{{ define "main" }}

<head>
<link rel='stylesheet' href='/css/note.css'>
{{- partial "loadmathjax.html" . -}}
{{- partial "colour.html" . -}}
{{- partial "font.html" . -}}
<title>{{ .Site.Home.Title }}{{ .RelPermalink }}</title>
{{ if .Param "wide" }}
<link rel='stylesheet' href='/css/wide.css'>
{{ end }}
</head>

<body>

<div class="map">
{{ partial "map.html" . }}
</div>

<div class="toc">
{{ .TableOfContents }}
</div>

<div class="waterfall">

<h1 class="title">{{ .Title }}</h1>

{{ .Params.time }}

{{ .Content }}

</div>

{{ partial "fin.html" . }}

</body>

{{ end }}
