@font-face {
	font-family: 'typewriter-variable';
	src: url('cmunvt.eot');
	src: url('cmunvt.eot?#iefix') format('embedded-opentype'),
		 url('cmunvt.woff') format('woff'),
		 url('cmunvt.ttf') format('truetype'),
		 url('cmunvt.svg#cmuntt') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'typewriter-variable';
	src: url('cmunvi.eot');
	src: url('cmunvi.eot?#iefix') format('embedded-opentype'),
		 url('cmunvi.woff') format('woff'),
		 url('cmunvi.ttf') format('truetype'),
		 url('cmunvi.svg#cmunvi') format('svg');
	font-weight: normal;
	font-style: italic;
}


