<html>
<head>
<meta content='text/html; charset=UTF-8' name='Content-Type'>
<meta name='viewport' content='width=device-width'>
<link rel='stylesheet' href='/css/main.css'>
</head>

{{- block "main" . -}}
{{- end -}}

</html>
