{{ $name := print .Params }}
{{ $name := strings.TrimRight "]" $name }}
{{ $name := strings.TrimLeft "[" $name }}
{{- $urlname := $name | urlize -}}

{{- $path := (printf "%s%s" "lexicon/" $urlname) -}}
{{- with ($.Site.GetPage $path) -}}

<button class="inlinelexicon" href="{{ .Permalink }}">
<span class="inlinelexicon-txt">
{{ .Title }}
<span class="inlinelexicon-box">
	<span class="inlinelexicon-title">{{ .Title }}</span>
	<br><br>
	{{ $what_num := 0 }}

	<div class="inlinelexicon-what">
	{{ if .Param "what" }}
	{{ range .Params.what }}
	{{ . | markdownify }}
	{{ end }}
	{{ end }}
	</div>


</span>
</span>
</button>

{{ end -}}
