{{- $name := print .Params }}
{{- $name := strings.TrimRight "]" $name }}
{{- $name := strings.TrimLeft "[" $name }}
{{- $urlname := $name | urlize }}

{{- $path := (printf "%s%s" "lexicon/" $urlname) -}}
{{- with .Site.GetPage $path -}}

{{- if (eq $.Page.Section "notes") -}}

<a class="lexicon-ref" href="{{ .Permalink }}">
<span class="lexicon-link">{{ $name }}</span> 
<div class="lexicon-box">
	{{ if .Param "redirect" }}

	{{ $redirect := (.Param "redirect") | urlize }}
	{{ with .GetPage $redirect }}
	<span>(redirect) {{ $name }} ⇒ {{ .Title }}</span>
	<br><br>
	<p class="lexicon-box-title">{{ .Title }}</p>
	{{ $def_num := 0 }}
	<div class="lexicon-box-what">
	<p>DEFINITION(S):</p>
	{{ range .Param "what" }}
	<p>[{{ $def_num }}]</p>
	<div class="lexicon-box-what-text">
	{{ . | markdownify }}
	</div>
	{{ $def_num = (add $def_num 1) }}
	{{ end }}
	</div>

	{{ end }}
	{{ else }}

	<p class="lexicon-box-title">{{ .Title }}</p>
	{{ $def_num := 0 }}
	<div class="lexicon-box-what">
	<p>DEFINITION(S):</p>
	{{ range .Param "what" }}
	<p>[{{ $def_num }}]</p>
	<div class="lexicon-box-what-text">
	<p>{{ . | markdownify }}</p>
	</div>
	{{ $def_num = (add $def_num 1) }}
	{{ end }}
	</div>

	{{ end }}
</div>
</span>
</>

{{ else if (eq .Page.Section "lexicon") }}

<a href="{{ .Permalink }}">{{ $name }}</a>

{{ else }}

{{ end }}

{{ end }}
