{{ define "main" }}

<head>
<link rel='stylesheet' href='/css/list.css'>
{{ partial "colour.html" . }}
<title>{{ .Site.Home.Title }}{{ .RelPermalink }}</title>
</head>


<div class="map">
{{ partial "map/list.html" . }}
</div>

<body>

<div class="waterfall">
{{ .Content }}
</div>

{{ partial "button/EXIT.html" . }}

</body>

{{ partial "fin.html" . }}


{{ end }}
