{{ define "main" }}

<head>
<link rel='stylesheet' href='/css/term.css'>
{{ partial "colour.html" . }}
<title>{{ .Site.Home.Title }}</title>
<link rel='stylesheet' href='/css/term.css'>
</head>

<body>

<div class="toc">
{{ partial "button/back.html" . }}
{{ .TableOfContents }}
</div>

<div class="waterfall">

<span class="title">{{ .Title }}</span>

{{ .Content }}

</div>

</body>

{{ end }}
