{{ define "main" }}

<head>
<link rel='stylesheet' href='/css/list.css'>
{{ partial "colour.html" . }}
<title>{{ .Site.Home.Title }}{{ .RelPermalink }}</title>
</head>

<body>

<div class="map">
{{ partial "listmap.html" . }}
</div>

{{ .Content }}

<div class="topic-list">
{{ range (.Pages.ByParam "time").Reverse }}

<li class="corpus">
<a href={{ .Permalink }}>{{ .Title | markdownify }}</a><br>
<div class="toc-view">{{ .TableOfContents }}</div>
</li>

{{ end }}
</div>

</body>

{{ end }}
