<html>
<head>
<meta content='text/html; charset=UTF-8' name='Content-Type'>
<meta name='viewport' content='width=device-width'>
<link rel='stylesheet' href='../../../../css/main.css'>
</head>

<head>
<link rel='stylesheet' href='../../../../css/note.css'>
<script type="text/x-mathjax-config">
	MathJax.Hub.Config({ 
		extensions: [
			"tex2jax.js",
			"phizzy.js",
		],
		jax: [
			"input/TeX",
			"output/HTML-CSS",
		],
		"HTML-CSS": { 
			scale: 95,
			availableFonts: [],
			preferredFont: null,
			webFont: "Neo-Euler", 
			EqnChunk: 20, 
			EqnChunkFactor: 4,
			extensions: ["handle-floats.js"],
			EqnChunkDelay: 1,
			matchFontHeight: true, 
			linebreaks: {
				automatic: true, 
				width: "100% container",
			},
		},
		displayAlign: "left",
		displayIndent: "1.5em",
		tex2jax: {
			inlineMath: [
				['£','£'],
				['˝','˝'],
			],
			displayMath: [ 
				['££','££'],
			],
			processEscapes: true,
			processEnvironments: true,
			processRefs: true, 
			skipTags: ['style', 'pre'],
		},
		TeX: {
			TagSide: "right",
			extensions: [
				"AMSmath.js",
				"AMSsymbols.js",
				"noUndefined.js",
				"newcommand.js"
			],
			equationNumbers: {
				autoNumber: "AMS",
				useLabelIDs: false,
				formatNumber: function (n) {return n.toString()},
				formatTag: function (n) {return '('+n+')'},
			},
		},
		loader: {
			load: ['ui/lazy']
		},
	});
</script>
<script type="text/x-mathjax-config">
	MathJax.Hub.Config({
		TeX: {
			Macros: {
				 f: ["\\frac{#1}{#2}", 2],
				 n: ["\\nonumber \\\\[0.5em]", 0],
				 no: ["\\nonumber", 0],
				 nl: ["\\\\[0.5em]", 0],
				 cntd: ["\\n &\\hspace{5mm}", 0],
				 bgnmaths: ["\\begin{align}", 0],
				 endmaths: ["\\end{align}", 0],
				 bgnmathsn: ["\\begin{align*}", 0],
				 endmathsn: ["\\end{align*}", 0],
			}
		}
	});
</script>
<script type="text/javascript" src="../../../../mathjax/MathJax/MathJax.js"></script>

 

<link rel='stylesheet' href='../../../../css/fonts/concrete.css'>

<title>notes/physics/fluids/notes/outline-of-fluid-dynamics/</title>

</head>

<body>

<div class="toc">

<span class="back">
<a href="../../">⇜ fluids</a>
</span>


<nav id="TableOfContents"></nav>
</div>

<div class="waterfall">

<span class="title">Quick Outline of Fluid Dynamics</span>

202302060328

<p>The configuration of a fluid is characterised by three continuous fields:
density ˝ρ(⬀x,t)˝, pressure ˝p(⬀x,t)˝, and velocity ˝⬀v(⬀x,t)˝.</p>
<p>To describe the dynamics of a a fluid, what you need to do establish the what
relationship is between changes in the fluid&rsquo;s density and changes in its
pressure.</p>
<p>The &ldquo;usual&rdquo; place to start is 










<span class="lexicon-link">
<a href="https://nombrilisme.gitlab.iophysics/fluids/lexicon/hydrostatics/">hydrostatics</a>


<span class="lexicon-preview">

<span class="lexpreview-title">hydrostatics</span>
<br>


[0]
<br>
<span class="lexpreview-what">the theory of fluids at rest, i.e. when the {{&lt; 词典 flow velocity &gt;}} 
v(x,t) is zero everywhere.  
</span>

<br>




</span>


</span>


 &ndash; the theory of fluids
at rest. By considering the forces at work in a fluid (e.g. 










<span class="lexicon-link">
<a href="https://nombrilisme.gitlab.iophysics/fluids/lexicon/shear/">shear</a>


<span class="lexicon-preview">




<span>(redirect) shear ⇒ <a href="https://nombrilisme.gitlab.io/physics/fluids/lexicon/shear-force/">shear force</a></span>
<br><br>
<span class="lexpreview-title">shear force</span>
<br>


[0]
<br>
<span class="lexpreview-what">a force that acts on one part of a body in a certain direction, and another 
part in the opposite direction.

(as opposed to the case where forces are aligned with each other 
(collinear): then the&#39;re just &#34;ordinary&#34; tension or compression forces.
</span>

<br>







</span>


</span>


,











<span class="lexicon-link">
<a href="https://nombrilisme.gitlab.iophysics/fluids/lexicon/stress/">stress</a>


<span class="lexicon-preview">

<span class="lexpreview-title">stress</span>
<br>


[0]
<br>
<span class="lexpreview-what">a quantity that describes _all the internal forces within a body that cause 
it to deform_. mathematically, has the same units as pressure: a force per 
unit area.

not to be confused with {{&lt; 词典 strain &gt;}}, which describes the deformation 
itself.
</span>

<br>

[1]
<br>
<span class="lexpreview-what">describes the internal forces that neighbouring particles exert on each 
other in a continuous material that (may) result in deformation.
</span>

<br>




</span>


</span>


, external fields, and related mathematical objects that help describe
them, like the 










<span class="lexicon-link">
<a href="https://nombrilisme.gitlab.iophysics/fluids/lexicon/stress-tensor/">stress tensor</a>


<span class="lexicon-preview">

<span class="lexpreview-title">stress tensor</span>
<br>





</span>


</span>


) you can derive the conditions for











<span class="lexicon-link">
<a href="https://nombrilisme.gitlab.iophysics/fluids/lexicon/hydrostatic-equilibrium/">hydrostatic equilibrium</a>


<span class="lexicon-preview">




<span>(redirect) hydrostatic equilibrium ⇒ <a href="https://nombrilisme.gitlab.io/physics/fluids/lexicon/equation-of-hydrostatic-equilibrium/">equation of hydrostatic equilibrium</a></span>
<br><br>
<span class="lexpreview-title">equation of hydrostatic equilibrium</span>
<br>


[0]
<br>
<span class="lexpreview-what">for a fluid at rest in a gravitational field ˝⬀g˝:
££
  ∇⦁⬈T = ρ⬀g
££
where ˝⬈T˝ is the {{&lt; 词典 stress tensor &gt;}}, and in this case ˝⬈T = p⬈g˝, 
˝ρ˝ is the {{&lt; 词典 density &gt;}}, and ˝⬀g˝ is the gravitational acceleration.

if you express ˝⬀g = -∇φ˝ where ˝φ˝ is the gravitational potential, and 
since ˝⬈T = p⬈g˝ and thus ˝∇⦁⬈T = ∇p˝, then another form of this is:
££
  -∇p - ρ∇φ = 0
££
</span>

<br>







</span>


</span>


.</p>
<p>To &ldquo;transition&rdquo; to 










<span class="lexicon-link">
<a href="https://nombrilisme.gitlab.iophysics/fluids/lexicon/hydrodynamics/">hydrodynamics</a>


<span class="lexicon-preview">

<span class="lexpreview-title">hydrodynamics</span>
<br>


[0]
<br>
<span class="lexpreview-what">the study of fluids in motion, i.e. when the {{&lt; 词典 flow velocity &gt;}} 
v(x,t) ≠ 0.
</span>

<br>




</span>


</span>


 &ndash; fluids in motion &ndash; you start
by defining a flow field, and by considering the flux of the flow field, you can
derive some 










<span class="lexicon-link">
<a href="https://nombrilisme.gitlab.iophysics/fluids/lexicon/conservation-laws/">conservation laws</a>



</span>


 for energy, momentum, and mass.</p>
<p>And, thence, two important &ldquo;simplifications&rdquo; emerge. You motivate these
simplifications by decomposing the stress tensor. For &ldquo;many&rdquo; fluids you will get
two terms:</p>
<ul>
<li>an isotropic pressure term</li>
<li>A viscous term linear in the rate of shear (i.e. the velocity gradient).</li>
</ul>
<p>(1) the 










<span class="lexicon-link">
<a href="https://nombrilisme.gitlab.iophysics/fluids/lexicon/perfect-fluid/">perfect fluid</a>


<span class="lexicon-preview">

<span class="lexpreview-title">perfect fluid</span>
<br>


[0]
<br>
<span class="lexpreview-what">a fluid that you can fully describe using only its density ρ and pressure p.
</span>

<br>

[1]
<br>
<span class="lexpreview-what">a fluid that has no (or negligible) viscosity or shear stresses.
</span>

<br>

[2]
<br>
<span class="lexpreview-what">a fluid where viscosity is negligible and heat conductivity is negligible.
</span>

<br>




</span>


</span>


. IF the viscous stress is negligble, AND heat
conductivity in the fluid is negligible, then you can call it a perfect fluid.
Deriving the conservation laws under these assumptions leads to the 










<span class="lexicon-link">
<a href="https://nombrilisme.gitlab.iophysics/fluids/lexicon/euler-equation/">euler equation</a>


<span class="lexicon-preview">

<span class="lexpreview-title">euler equation</span>
<br>


[0]
<br>
<span class="lexpreview-what">an equation of motion for the fluid that you can derive from conservation 
laws:  

££ D₍t₎↗v = 𝝏₍t₎↗v &#43; (↗v⦁∇)↗v = -÷1ρ·∇p &#43; ↗g ££
</span>

<br>




</span>


</span>


 (an equation of motion) and 










<span class="lexicon-link">
<a href="https://nombrilisme.gitlab.iophysics/fluids/lexicon/bernoullis-principle/">bernoulli&#39;s principle</a>


<span class="lexicon-preview">

<span class="lexpreview-title">bernoulli&#39;s principle</span>
<br>


[0]
<br>
<span class="lexpreview-what">increasing the speed of a fluid decreases the static pressure or potential 
energy. 

only applies for isentropic flows (no irreversible processes like turbulence 
or thermal radiation). so basically, we&#39;re talking about fluids and gases at 
low mach number. the incompressible approximation applies.
</span>

<br>

[1]
<br>
<span class="lexpreview-what">bernoulli&#39;s equation
££
  ÷12 v⁽2⁾ &#43; gz &#43; ÷1ρ p = const.
££
- applies in any region of a flow where energy per unit mass is uniform.
- this accurately describes fluid flow only in regions where viscous forces 
  don&#39;t exist (and diminish the energy per unit mass)
</span>

<br>

[2]
<br>
<span class="lexpreview-what">another common statement of bernoulli&#39;s principle
££
  ½v² &#43; ∫dPͺ÷1ρ = const
££

assumptions:
- steady flow (parameters like ˝v, p, ρ˝ are constant in time)
- incompressible
- no friction by viscous forces
</span>

<br>




</span>


</span>


 for steady flow in a pipe.</p>
<p>(2) the 










<span class="lexicon-link">
<a href="https://nombrilisme.gitlab.iophysics/fluids/lexicon/incompressible-approximation/">incompressible approximation</a>


<span class="lexicon-preview">




<span>(redirect) incompressible approximation ⇒ <a href="https://nombrilisme.gitlab.io/physics/fluids/lexicon/incompressible-fluid/">incompressible fluid</a></span>
<br><br>
<span class="lexpreview-title">incompressible fluid</span>
<br>


[0]
<br>
<span class="lexpreview-what">a fluid where
££
  ∇⦁⬀v = 0
££
note that calling a fluid &#34;incompressible&#34; is very much an idealisation.  

the incompressible approximation is valid when the characteristic velocities 
of the flow are much less than the speed of sound in the fluid (since then 
you don&#39;t have to worry about density variations)
</span>

<br>

[1]
<br>
<span class="lexpreview-what">a fluid where ρ = const. 

this is because to compress the fluid, you have to induce some kind of 
density variation. a fluid with constant (or, more realistically, 
_approximately_ constant) density is incompressible.
</span>

<br>

[2]
<br>
<span class="lexpreview-what">a fluid where variations of pressure are so small that changes in density 
are negligible.
</span>

<br>







</span>


</span>


. IF the fluid&rsquo;s changes in
density are small, AND the velocites are « the speed of sound, then you can say
the fluid is incompressible. However modelling a fluid as incompressible doesn&rsquo;t
imply that it actually is &ndash; just that the relative changes in density are small
in the scale or reference frame you&rsquo;re observing the fluid (e.g. it&rsquo;s often true
that gravity is too <em>weak</em> to compress a fluid noticeably). The incompressible
approximation is generally fine for liquids with large 










<span class="lexicon-link">
<a href="https://nombrilisme.gitlab.iophysics/fluids/lexicon/bulk-modulus/">bulk modulus</a>


<span class="lexicon-preview">

<span class="lexpreview-title">bulk modulus</span>
<br>


[0]
<br>
<span class="lexpreview-what">quantifies the compressive resistance of a material:
££
  K = -V ⌠dp⧸dV⌡
££
where ˝p˝ is pressure and ˝V˝ is volume.
</span>

<br>




</span>


</span>



and gases.</p>
<p>In general, though, viscous stresses are <em>not</em> negligible. When the perfect
fluid assumptions <em>don&rsquo;t</em> hold, you need modify the euler equation to account
for viscous stresses and heat conduction. This leads to the 










<span class="lexicon-link">
<a href="https://nombrilisme.gitlab.iophysics/fluids/lexicon/navier-stokes-equation/">navier stokes equation</a>


<span class="lexicon-preview">

<span class="lexpreview-title">navier stokes equation</span>
<br>


[0]
<br>
<span class="lexpreview-what">££
  ρ Ð₍t₎⬀v = -∇p &#43; μ∇⁽2⁾⬀v &#43; ρ⬀F
££
</span>

<br>

[1]
<br>
<span class="lexpreview-what">££
  ρ Ð₍t₎⬀v = -∇p &#43; ∇⦁⬈T &#43; ρ⬀F
££
</span>

<br>




</span>


</span>


 (a more general equation of motion for a fluid).</p>
<p>Next, introduce 










<span class="lexicon-link">
<a href="https://nombrilisme.gitlab.iophysics/fluids/lexicon/vorticity/">vorticity</a>


<span class="lexicon-preview">

<span class="lexpreview-title">vorticity</span>
<br>


[0]
<br>
<span class="lexpreview-what">the curl of the velocity field:

££ ⬀ω = ∇ × ⬀v ££
</span>

<br>




</span>


</span>


, the curl of the flow field. This opens
up treatment of rotating fluids. Using the definition of vorticity you can
mathematically transforming the navier stokes equation to the 










<span class="lexicon-link">
<a href="https://nombrilisme.gitlab.iophysics/fluids/lexicon/vorticity-evolution-equation-for-incompressible-flow/">vorticity evolution equation for incompressible flow</a>


<span class="lexicon-preview">

<span class="lexpreview-title">vorticity evolution equation for incompressible flow</span>
<br>


[0]
<br>
<span class="lexpreview-what">is:

££ ₯₍t₎⬀ω = -⌠∇p × ∇ρ⧸ρ²⌡ &#43; ν∇²⬀ω ££

where ˝⬀ω = ∇×⬀v˝, and the flow is assumed incompressible, ˝∇⦁⬀v = 0˝, and 
˝₯˝ is the {{&lt; 词典 fluid derivative &gt;}}.
</span>

<br>




</span>


</span>


.</p>
<p>⋮</p>
<p>[tbc]</p>


</div>

</body>


</html>
