{{ $exitwhere := "https://duckduckgo.com/?kae=-1&kz=-1&k1=-1&kak=-1&kax=-1&kaq=-1&kap=-1&kao=-1&kau=-1&kac=-1" }}
{{ if isset .Params "exit" }}
{{ $exitwhere := $.Param "exit" }}
{{ end }}
<span class="EXIT">
<a href="{{ $exitwhere }}">EXIT</a>
</span>
