{{ if .Param "redirect" }}

{{ $redirect := (.Param "redirect") | urlize }}
{{ with .GetPage $redirect }}
<p>(redirect) {{ $.Title }} ⇒ <a href="{{ .Permalink }}">{{ .Title }}</a></p>
<hr>

<h1 class="title">{{ .Title }}</h1>
{{ $def_num := 0 }}
<div class="what">
<p>DEFINITION(S):</p>
{{ range .Param "what" }}
<div class="lex-entry">
<p class="lex-entry-number">{{ $def_num }}</p>
<div class="lex-entry-text">
<p>{{ . | markdownify }}<p>
</div>
{{ $def_num = (add $def_num 1) }}
</div>
{{ end }}
</div>

{{ end }}

{{ else }}

<h1 class="title">{{ .Title }}</h1>
{{ $def_num := 0 }}
<div class="what">
	<p>DEFINITION(S):</p>
	{{ range $.Param "what" }}
	<div class="lex-entry">
		<p class="lex-entry-number">{{ $def_num }}</p>
		<div class="lex-entry-text">
			<p>{{ . | markdownify }}<p>
		</div>
		{{ $def_num = (add $def_num 1) }}
	</div>
	{{ end }}
</div>

{{ end }}

