<p>redirect: <a href={{ .Permalink }}>{{ .Title | markdownify }}</a></p><br>

{{ $def_num := 0 }}
<div class="what">
DEFINITION(S):
{{ range $.Param "what" }}
<div class="lex-entry">
<p class="lex-entry-number">{{ $def_num }}</p>
<div class="lex-entry-text">
<p>{{ . | markdownify }}<p>
</div>
{{ $def_num = (add $def_num 1) }}
</div>
{{ end }}
</div>

{{ if .Param "aka" }}
<div class="aka">
ALSO KNOWN AS:	
<ul>
{{ range $.Param "aka" }}
<li> {{ . }}
{{ end }}
</ul>
</div>
{{ end }}

{{ if .Param "alsoread" }}
<div class="alsoread">
ALSO READ:
<ul>
{{ range $.Param "alsoread" }}
<li> {{ . | markdownify }}
{{ end }}
</ul>
</div>
{{ end }}

