{{ define "main" }}

<head>
<link rel='stylesheet' href='/css/lexicon.css'>
{{ partial "loadmathjax.html" . }}
{{ partial "colour.html" . }}
</head>

<div class="map">
{{ partial "map/page.html" . }}
</div>

<body>

<div class="waterfall">

{{ if .Param "redirect" }}

{{ $redirect := (.Param "redirect") | urlize }}
{{ with .GetPage $redirect }}
<p>(redirect) {{ $.Title }} ⇒ <a href="{{ .Permalink }}">{{ .Title }}</a></p>
<hr>
{{ .Render "lexicon" }}

{{ end }}
{{ else }}

{{ .Render "lexicon" }}

{{ end }}

</div>

</body>

{{ end }}
