﻿@charset "UTF-8";


/* @font-face declarations */

@font-face {
	font-family: 'jlgbold';
		src: url('jeanlucweb-bold.eot');
		src: local('☺'), url("jeanlucweb-bold.woff") format("woff"), url("jeanlucweb-bold.otf") format("opentype"), url("jeanlucweb-bold#webfontup15foyj") format("svg");
}

@font-face {
	font-family: 'jlgthin';
		src: url('jeanlucweb-bold.eot');
		src: local('☺'), url("jeanlucweb-thin.woff") format("woff"), url("jeanlucweb-thin.otf") format("opentype"), url("jeanlucweb-thin#webfontdsa4toug") format("svg");
}


/*
The Jean-Luc typeface was designed and made by Atelier Carvalho Bernau on the occasion of the 80th birthday of Jean-Luc Godard. It is available free of charge from http://www.carvalho-bernau.com/jlg/

Jean-Luc typeface Copyright (c) 2010 Atelier Carvalho Bernau
*/
