<html>
<head>
<meta content='text/html; charset=UTF-8' name='Content-Type'>
<meta name='viewport' content='width=device-width'>
<link rel='stylesheet' href='../../../css/main.css'>
</head>

<head>
<link rel='stylesheet' href='../../../css/note.css'>

<title>notes/physics/statistical/ising-mft/</title>

</head>

<body>

<div class="map">

	<a href=https://nombrilisme.gitlab.io>notes</a>
	> <a href="https://nombrilisme.gitlab.io/physics/">physics</a>
	> <a href="https://nombrilisme.gitlab.io/physics/statistical/">statistical</a>
	> <a href="">ising mft</a>

</div>

<div class="toc">
<nav id="TableOfContents">
  <ol>
    <li><a href="#what">WHAT</a></li>
    <li><a href="#setup">SETUP</a></li>
    <li><a href="#hamiltonian">HAMILTONIAN</a></li>
    <li><a href="#free-energy">FREE ENERGY</a></li>
    <li><a href="#nearest-neighbour-ising-model">NEAREST NEIGHBOUR ISING MODEL</a></li>
    <li><a href="#mean-field-theory----high-level-stuff">MEAN FIELD THEORY &ndash; HIGH LEVEL STUFF</a></li>
    <li><a href="#weiss-mft----ferromagnetic-ising-model">WEISS MFT &ndash; FERROMAGNETIC ISING MODEL</a></li>
    <li><a href="#takeaways">TAKEAWAYS</a></li>
    <li><a href="#references">REFERENCES</a></li>
  </ol>
</nav>
</div>

<div class="waterfall">

<h1 class="title">ising mft</h1>

202303230143

<h1 id="what">WHAT</h1>
<p>A model of a ferromagnet or antiferromagnet on a lattice. &ldquo;The ising model is the
<em>drosophila</em> of statistical mechanics&rdquo; ∼ Nigel Goldenfeld.</p>
<p>In 1925 Lenz and Ising showed that in 1D, the model doesn&rsquo;t have a phase
transition for £ T &gt; 0 £. They wrongly concluded that the model also doesn&rsquo;t
have a phase transition for ˝d &gt; 1˝.</p>
<h1 id="setup">SETUP</h1>
<p>Consider a lattice of sites in £ d £ dimensions, £ i = 1..N £ (assume hypercubic
in the most general sense). Attach a classical spin variable ˝S₍i₎ = ±1˝ to each
site.</p>
<p>The #total of states of the system is £ 2^N £.</p>
<p>The spins may interact with an external magnetic field £ H_i £ (in the most
general setup, the field can vary from site to site, but normally can just
assume a uniform field).</p>
<p>The spins interact with each other thru exchange interactions £ J_{ij},
K_{ijk}, &hellip; £ (couples two spins, three spins&hellip;)</p>
<h1 id="hamiltonian">HAMILTONIAN</h1>
<p>A very general form for the hamiltonian:</p>


	<div class="eq">
	££
	\begin{equation}
	  -βĦ = ∑_{i=1..N} H_i S_i &#43; ∑_{ij} J_{ij} S_i S_j &#43; ∑_{ijk} K_{ijk} S_i S_j &#43; ... 
	\end{equation}
	££
	</div>


<p>although normally we neglect the ≥3 spin couplings.</p>
<h1 id="free-energy">FREE ENERGY</h1>


	<div class="eq">
	££
	\begin{equation}
	  F(T, [H_i], [J_{ij}]...) = -k_B T \log Tr e^{-β Ħ} 
	\end{equation}
	££
	</div>


<p>Various derivatives of this give the thermodynamic properties. E.g. the average
magnetisation at site £ i £: Differentiate £ F £ wrt the external field £ H_i £</p>


	<div class="eq">
	££
	\begin{equation}
	  ÷{∂F}{∂H_i} = -k_B T ÷{1}{Tr e^{-β Ħ}} Tr ÷{S_i}{k_B T} e^{-β Ħ} = -\expval{S_i} 
	\end{equation}
	££
	</div>


<h1 id="nearest-neighbour-ising-model">NEAREST NEIGHBOUR ISING MODEL</h1>
<p>Hamiltonian:</p>


	<div class="eq">
	££
	\begin{equation}
	  -βĦ = H ∑_{i=1..N} S_i &#43; J ∑_{⟨ij⟩} S_i S_j 
	\end{equation}
	££
	</div>


<p>here we&rsquo;re assuming the ext field £ H £ is uniform, and that the only
interaction between spins is between neighbouring spins, denoted £ J £.</p>
<p>The magnetisation per site, £ M £</p>


	<div class="eq">
	££
	\begin{equation}
	  M = - ÷1N ÷{∂F}{∂H} =÷1N ∑_{i=1..N} \expval{S_i} 
	\end{equation}
	££
	</div>


<h1 id="mean-field-theory----high-level-stuff">MEAN FIELD THEORY &ndash; HIGH LEVEL STUFF</h1>
<p>MFT is a simple way to treat interacting systems (the only simpler method is to
just ignore the interactions completely). In MFT you neglect correlations
between fluctuations of different particles. This approximation becomes less and
less accurate as you approach the critical point (the fluctuations contain the
most important physics near a critical point).</p>
<p>Basically, MFT involves taking the interacting hamiltonian, removing the
correlations between fluctuations of different particles, and what you end up
with is a non-interacting hamiltonian with an &ldquo;effective field&rdquo;. This effective
field is due to the neighbouring spins. So essentially, MFT replaces the
many-interaction reality with one &ldquo;effective&rdquo; interaction.</p>
<h1 id="weiss-mft----ferromagnetic-ising-model">WEISS MFT &ndash; FERROMAGNETIC ISING MODEL</h1>
<p>The nearest neighbour ising model in d dimensions (to keep it general - there&rsquo;s
an implementation of the 2D ising model at the end):</p>


	<div class="eq">
	££
	\begin{equation}
	  Ham = -J ∑_{⟨ij⟩} S_i S_j - H ∑_i S_i 
	\end{equation}
	££
	</div>


<ul>
<li>i,j are points on a d-dimensional square lattice</li>
<li>each point has £ z = 2d £ nearest neighbours. £ z £ is the coordination number.</li>
<li>£ J &gt; 0 £ for ferromagnetism</li>
<li>£ H £ is proportional to the external magnetic field ˝B˝ (this is basically a
stand-in variable)</li>
</ul>
<p>In MFT, we assume the spins behave uniformly, i.e. that they behave the same way
at each site (on average). Means that in the low T phase, we expect the spins to
have the same nonzero average, and in the high T phase, we expect the spins to
average to zero.</p>
<p>Next: express the spin variable as the sum of an average and a fluctuation</p>


	<div class="eq">
	££
	\begin{equation}
	  S_i = \expval S &#43; δS_i 
	\end{equation}
	££
	</div>


<ul>
<li>£ \expval S £ is the average value of spin, the same for all sites</li>
<li>£ δS_i £ is the fluctuation</li>
<li>£ \expval{δS_i} = 0 £</li>
</ul>
<p>Rewrite £ Ħ £ in terms of £ \expval{S} £ and £ δS_i £:</p>


	<div class="eq">
	££
	\begin{equation}
	  Ħ == -J ∑_{ij} (\expval S &#43; δS_i)(\expval S &#43; δ S_j) - H ∑_i S_i
  == -J ∑_{⟨ij⟩} ( \expval S^2 &#43; \expval S (δS_i &#43; δS_j) &#43; δS_i δS_j) - H ∑_i S_i 
	\end{equation}
	££
	</div>


<ul>
<li>the third term in the parens is the interaction between neighbouring spins</li>
<li>its presence means £ S_i £ and £ S_j £ aren&rsquo;t independent random variables, so £
\expval{S_i S_j} \neq \expval{S_i} \expval{S_j} £ or £ \expval{δ S_i δS_j}
\neq 0 £</li>
<li>the second term in the parens represents the effect of the field produced by
the other nearby spins</li>
<li>a given spin feels both the external field and the effective field due to the
other spins</li>
</ul>
<p>In the MF approximation, we ignore the correlations of fluctuations of
neighbouring particles. This means setting the term £ δS_i δS_j £ to zero. This
approximation allows you to rewrite £ Ħ £ as a linear function of the £ S_i £,
as if the spins aren&rsquo;t interacting.</p>


	<div class="eq">
	££
	\begin{equation}
	  \expval S (δS_i &#43; δS_j) = \expval S (S_i &#43; S_j - 2 \expval S) 
	\end{equation}
	££
	</div>


<p>∴</p>


	<div class="eq">
	££
	\begin{equation}
	  Ħ_{MF} = -J ∑_{ij} (  \expval{S}^2 &#43; \expval S (S_i &#43; S_j - 2 \expval S)) - H ∑_i S_i 
	\end{equation}
	££
	</div>


<ul>
<li>note, I&rsquo;ve used the fact that £ ∑_{ij} \expval S^2 = \expval S^2 ∑_{ij} 1 =
\expval S^2 ∑_i ÷z2 = ÷{Nz}2 \expval S^2 £ (you have to divide by two
otherwise you&rsquo;ll count each site twice)</li>
<li>also note that £ \expval S ∑_{ij} S_i = \expval S ∑_i ÷z2 S_i £</li>
</ul>
<p>∴</p>


	<div class="eq">
	££
	\begin{equation}
	  
  Ħ_{MF} == ÷12 JNz \expval S^2 - ∑_i (J z \expval S &#43; H) S_i
  == ÷12 JNz \expval S^2 - H_{eff} ∑_i S_i 
	\end{equation}
	££
	</div>


<p>This is the mean field hamiltonian. What we&rsquo;ve done here is we&rsquo;ve replaced the
interacting spin problem with a noninteracting problem with one unknown
parameter, £ \expval S £.</p>
<p>Next, let £ M = \expval S £. You can do this since you&rsquo;re assuming the spins
behave uniformly, so you can assume the magnetisation per site is the same for
all, i.e. £ M_i = M £.</p>
<ul>
<li>recall, magnetisation per site £ M = ÷1N ∑_{i=1..N} \expval{S_i} = \expval S £</li>
</ul>
<p>The partition function in the MF approximation:</p>


	<div class="eq">
	££
	\begin{equation}
	  Z_{MF} == ∑_{[S_i]} e^{-β Ham_{MF}}
  ==  ...
  == \exp(-÷12 JNz β M^2) (2 \cosh(β(H &#43; JzM)))^N 
	\end{equation}
	££
	</div>


<ul>
<li>(missing steps: look@ Oxford C6 theory handbook p78 eq548)</li>
</ul>
<p>You can derive a self-consistency equation for £ M £:</p>


	<div class="eq">
	££
	\begin{equation}
	  M = \expval{S_i}
  == ÷{Tr \; S_i e^{β H_{eff} S_i}}{Tr e^{β H_{eff} S_i}}
  == \tanh(β H_{eff})
  == \tanh(β(H &#43; JzM))
  == \tanh(β(H &#43; 2dJM)) 
	\end{equation}
	££
	</div>


<p>Solve the self-consistency equation graphically:</p>
<ul>
<li>let £ x = β(H + JzM) £</li>
<li>then £ M = ÷{k_B T x}{Jz} - ÷{H}{Jz} = \tanh(x) £</li>
</ul>
<p>With regards to what you can compute using the mean field approximation:
here are a some things&mdash;</p>
<p><strong>Case:</strong> £ H = 0 £, zero external field:</p>
<p>The equation to solve: ˝÷{k_B T x}{Jz} = \tanh(x)˝. Here&rsquo;s a sketch of the
self-consistency equation:</p>



<div class="fig">
<img src="../figs/sceq.jpg" width="480">
</div>

<p>For £ (k_B T / Jz) &gt; 1 £:</p>
<ul>
<li>£ \tanh(x) \simeq x £ for small x, so the curves intersect once, at £ x = 0 £.</li>
</ul>
<p>For £ (k_B T / Jz) &lt; 1 £:</p>
<ul>
<li>there are two additional roots, equal magnitude, opposite sign.</li>
</ul>
<p>At high T, £ k_B T &gt; Jz £, and there&rsquo;s only one root, corresponding to £ M = 0
£, no magnetisation.</p>
<p>At zero T, the system is in the lowest energy state, £ M = \pm 1 £. The system
will choose one of the two nonzero roots.</p>
<p>As you increase T, the system will have £ M £ equal to the nonzero root until £
T = T_c = Jz / k_B £</p>
<ul>
<li>basically, when £ T &lt; T_c £ the nonzero root(s) are favourable</li>
<li>you can prove this rigorously: the helmholtz free energy is lower for the
nonzero roots when £ T &lt; T_c £</li>
<li>and when £ T &gt; T_c £, £ M = 0 £ (for £ H = 0 £)</li>
</ul>
<p><strong>Case:</strong> £ H \neq 0 £, nonzero external field:</p>
<ul>
<li>˝M = \tanh(β(JzM + H))˝</li>
</ul>
<p><strong>Case:</strong> high temperature, £ T &gt; T_c £, weak field (the Curie weiss law)</p>
<ul>
<li>under small £ H £ (weak field limit), £ M £ will be small, and so will £ β(JzM
<ul>
<li>H) £</li>
</ul>
</li>
<li>∴


<div class="eq">
££
\bgnmaths

    M \simeq ÷{JzM &#43; H}{k_B T}
  

\endmaths
££
</div>

∴


<div class="eq">
££
\bgnmaths

    M(1 - ÷{Jz}{k_B T}) 
&= 

 ÷{H}{k_B T}
    
\n
&=

 ÷{H}{k_B T - Jz}
    
\n
&=

 ÷{H}{k_B (T - T_c)}
  
\endmaths
££
</div>
</li>
</ul>
<p>This gives the zero field susceptibility, £ H = 0 £:


<div class="eq">
££
\bgnmaths

  χ = ÷{𝝏M}{𝝏H} = ÷1{k_B(T - T_c)}


\endmaths
££
</div>
</p>
<ul>
<li>for £ T &gt; T_c £</li>
<li>because of interactions, £ χ £ diverges at the MF transition temp £ T_c £</li>
<li>if there are no interactions, £ T_c = 0 £, and you get <strong>curie&rsquo;s law</strong>, £ χ =
1 / 4 k_B T £, or £ M = H / 4 k_B T £</li>
<li>the interactions lead to the divergence at £ T = T_c £</li>
</ul>
<p>Experimentally, it turns out that £ χ = ÷{𝝏M}{𝝏H} ~ a (T - T_c)^{-γ} £ near the
critical point. MFT predicts £ γ = 1 £, but experimental values tend to be
larger than 1</p>



<div class="fig">
<img src="../figs/bhfig81.png" width="360">
</div>

<pre><code>    Source: Berlinsky &amp; Harris. 
</code></pre>
<ul>
<li>the solid curve is the curie weiss result</li>
<li>the dashed curve is the susceptibility when you account for fluctuations that
aren&rsquo;t captured in MFT.</li>
<li>the discrepancy is the result of ignoring the correlations of fluctuations.</li>
</ul>
<p><strong>Case:</strong> T just below £ T_c £, £ H = 0 £</p>
<ul>
<li>£ M £ is nonzero but small</li>
<li>expand £ M = \tanh(βJzM) £ as


	<div class="eq">
	££
	\begin{equation}
	  M = βJzM - ÷13(βJzM)^3 &#43; ... 
	\end{equation}
	££
	</div>


</li>
<li>since £ M \neq 0 £ divide by £ M £ to get


	<div class="eq">
	££
	\begin{equation}
	  M = \pm \sqrt{÷{3(βJz - 1)}{(βJz)^3}} = \pm \sqrt 3 ÷{k_B T}{Jz} \sqrt{1 - ÷{k_B T}{Jz}} 
	\end{equation}
	££
	</div>


</li>
<li>take £ H = 0^{+} £ so £ M &gt; 0 £. since £ T_c = Jz / k_B £,


	<div class="eq">
	££
	\begin{equation}
	  M = \sqrt 3 ÷{T}{T_c} \sqrt{1 - T / T_c} 
	\end{equation}
	££
	</div>


</li>
<li>but if £ T £ is close to £ T_c £, set £ T = T_c £ in the first factor (the
factor between root 3 and the other root), then


	<div class="eq">
	££
	\begin{equation}
	  M \simeq \sqrt 3 (1 - T / T_c)^β 
	\end{equation}
	££
	</div>


</li>
<li>with £ β = 1/2 £</li>
</ul>
<p>Susceptibility for £ T &lt; T_c £:</p>


	<div class="eq">
	££
	\begin{equation}
	  χ = ÷{1}{2 k_B (T_c - T)} \hspace{1cm} T &lt; T_c
  χ = ÷{1}{k_B (T - T_c)} \hspace{1cm} T &gt; T_c 
	\end{equation}
	££
	</div>


<p>In general,</p>


	<div class="eq">
	££
	\begin{equation}
	χ \sim A_{\pm} | T - T_c |^{-γ} 
	\end{equation}
	££
	</div>


<ul>
<li>there&rsquo;s a different prefactor above and below the transition</li>
<li>same exponent above and below the transition</li>
<li>thus, £ χ £ diverges at the critical point.</li>
</ul>
<p>The relationship between £ M £ and £ H £ at the critical point:</p>


	<div class="eq">
	££
	\begin{equation}
	  M = (÷{3H}{k_B T_c})^{1/3} 
	\end{equation}
	££
	</div>


<ul>
<li>at £ T_c £, magnetisation obeys


	<div class="eq">
	££
	\begin{equation}
	  M \sim |H|^{1/δ} 
	\end{equation}
	££
	</div>


</li>
<li>with £ δ = 3 £ for MFT</li>
</ul>
<p>Heat capacity in MFT:</p>
<ul>
<li>specific heat at constant field, £ H = 0 £


	<div class="eq">
	££
	\begin{equation}
	  c = ÷32 k_B ÷T{T_c} (÷{3T - 2 T_c}{T_c}) 
	\end{equation}
	££
	</div>


</li>
<li>for £ T &gt; T_c £, £ M = 0 £, so £ U/N = 0 £ and £ C = 0 £


	<div class="eq">
	££
	\begin{equation}
	  c(T_c^-) = ÷32 k_B
  c(T_c^&#43;) = 0 
	\end{equation}
	££
	</div>


</li>
<li>specific heat has a discontinuity at the transition</li>
<li>relate this to the definition of the critical exponent £ α £, where specific
heat is given by


	<div class="eq">
	££
	\begin{equation}
	  C \sim a_{\pm} |T-T_c|^{-𝛼} 
	\end{equation}
	££
	</div>


</li>
<li>the discontinuity corresponds to £ α = 0 £, with amplitudes £ a_+ = 3/2 k_B £
and £ a_- = 0 £</li>
<li>you see a jump like this in the specific heat of low temperature
superconductors. But most other phase transitions are not mean-field like.</li>
</ul>
<h1 id="takeaways">TAKEAWAYS</h1>
<p>The MF hamiltonian is a sum of single-site hamiltonians. You get a
self-consistent equation for ˝M˝ which you can solve graphically. You can
compute parameters like susceptibility, heat capacity, and other thermodynamic
quantities. MFT accounts for the ferromagnetic phase transition, but it loses
accuracy near the critical transition.</p>
<p>Specifically, MFT can&rsquo;t describe correlations <em>between</em> fluctuations of £ S_i £
and £ S_j £, and the approximation breaks down when the £ S_i S_j £ correlation
length becomes large (which it does in the vicinity of the critical
temperature). The MFT predictions of critical exponents are generally incorrect.</p>
<p>Near the phase transition you&rsquo;ll see data collapse: the equation of state will
go from being a a relation between 3 variables to a relation between 2 <em>scaled</em>
variables. You can model this using the renormalisation group.</p>



<div class="fig">
<img src="../figs/isingscreenshot.png" width="480">
</div>

<p>(A quick little MC implementation of the 2D Ising model, written by yours truly.
<a href="https://github.com/knbe/ising">https://github.com/knbe/ising</a>)</p>
<h1 id="references">REFERENCES</h1>
<p>N. Goldenfeld, <em>Lectures on Phase Transitions and the Renormalisation Group</em>.</p>
<p>A. J. Berlinsky, A. B. Harris, <em>Statistical Mechanics</em>.</p>
<p>F. H. L. Essler, <em>Lecture Notes for the Oxford C6 Theory Option</em>.</p>


</div>

</body>


</html>
