{{ define "main" }}

<head>
<link rel='stylesheet' href='/css/problem.css'>
{{- partial "loadmathjax.html" . -}}
{{- partial "colour.html" . -}}
{{- partial "font.html" . -}}
<title>{{ .Site.Home.Title }}{{ .RelPermalink }}</title>
{{ if .Param "wide" }}
<link rel='stylesheet' href='/css/wide.css'>
{{ end }}

</head>

<div class="map">
{{- partial "map/page.html" . }}
</div>

<body>

{{ partial "button/problem-back.html" . }}

<div class="waterfall">

<span class="title">{{ .Title }}</span>

{{ if .Param "time" }}
<div class="time">
{{ .Params.time }}
</div>
{{ end }}

{{ if .Param "what" }}
<div class="what">
<p class="whatproblem">{{ .Params.what | markdownify }}</p>
</div>
{{ end }}

{{ .Content }}

</div>

</body>

{{ partial "fin.html" . }}

{{ end }}
