:root {
	--c-bg: #b94e48;
	--c-bg-lo: #a32638;
	--c-bg-hi: #c32148; 
	--c-bg-hi-hi: #c32160; 
	--c-fg: #000000; 
	--c-fg-hot: #65000b; 
	--c-fg-cold: #edddd4;
	--c-map-border: var(--c-bg-lo);
	--c-exit: #556b2f;
}
