<html>
<head>
<meta content='text/html; charset=UTF-8' name='Content-Type'>
<meta name='viewport' content='width=device-width'>
<link rel='stylesheet' href='../../../css/main.css'>
</head>

<head>
<link rel='stylesheet' href='../../../css/note.css'>

<title>notes/physics/statistical/ising/</title>

</head>

<body>

<div class="map">

	<a href=https://nombrilisme.gitlab.io>notes</a>
	> <a href="https://nombrilisme.gitlab.io/physics/">physics</a>
	> <a href="https://nombrilisme.gitlab.io/physics/statistical/">statistical</a>
	> <a href="">ising model</a>

</div>

<div class="toc">
<nav id="TableOfContents">
  <ol>
    <li><a href="#what">WHAT</a></li>
    <li><a href="#setup">SETUP</a></li>
    <li><a href="#hamiltonian">HAMILTONIAN</a></li>
    <li><a href="#summationtrace-notation">SUMMATION/TRACE NOTATION</a></li>
    <li><a href="#free-energy">FREE ENERGY</a></li>
    <li><a href="#thermodynamic-limit">THERMODYNAMIC LIMIT</a></li>
    <li><a href="#nearest-neighbour-ising-model">NEAREST NEIGHBOUR ISING MODEL</a></li>
    <li><a href="#analytic-properties-of--f-">ANALYTIC PROPERTIES OF £ f £</a></li>
    <li><a href="#symmetries-of-the-ising-model">SYMMETRIES OF THE ISING MODEL</a></li>
    <li><a href="#time-reversal-symmetry">TIME REVERSAL SYMMETRY</a></li>
    <li><a href="#sub-lattice-symmetry">SUB LATTICE SYMMETRY</a></li>
  </ol>
</nav>
</div>

<div class="waterfall">

<h1 class="title">ising model</h1>



<h1 id="what">WHAT</h1>
<p>a model of a ferromagnet or antiferromagnet on a lattice.</p>
<p>in 1925 lenz and ising showed that in 1d the model doesn&rsquo;t have a phase
transition for £ T &gt; 0 £</p>
<ul>
<li>they wrongly concluded that the model also doesn&rsquo;t have a phase transition for
d &gt; 1, and they concluded it couldn&rsquo;t describe real magnetic systems</li>
</ul>
<h1 id="setup">SETUP</h1>
<p>a lattice in £ d £ dimensions of sites £ i, i = 1..N £ (assume hypercubic)</p>
<p>the dofs are classical spin vars £ S_i £ that reside on the vertices of the
lattice, only take two values, £ S_i = \pm 1 £</p>
<p>the total num of states of the system is £ 2^N £</p>
<p>the spins interact with an ext magnetic field £ H_i £ (in the most general setup
the field can vary from site to site)</p>
<p>the spins also interact with each other thru exchange interactions £ J_{ij},
K_{ijk}, &hellip; £ (couples two spins, three spins&hellip;)</p>
<h1 id="hamiltonian">HAMILTONIAN</h1>
<p>general form for the hamiltonian</p>


<div class="eq">
££
\bgnmaths

  -Ham = ∑_{i=1..N} H_i S_i &#43; ∑_{ij} J_{ij} S_i S_j &#43; ∑_{ijk} K_{ijk} S_i S_j 
  S_k &#43; ...


\endmaths
££
</div>

<ul>
<li>although we can just neglect 3 and higher spin interactions</li>
</ul>
<h1 id="summationtrace-notation">SUMMATION/TRACE NOTATION</h1>
<p>Tr means:</p>


<div class="eq">
££
\bgnmaths

  Tr = ∑_{S_1 = -1, 1} ∑_{S_2 = -1, 1} ... ∑_{S_N = -1, 1} = ∑_{S_i = \pm 1}


\endmaths
££
</div>

<h1 id="free-energy">FREE ENERGY</h1>
<p>the free energy:</p>


<div class="eq">
££
\bgnmaths

  F(T, [H_i], [J_{ij}]...) = -k_B T \log Tr 𝓮^{-β Ham}


\endmaths
££
</div>

<ul>
<li>can get td properties by differentiating this</li>
</ul>
<p>avg value of magnetisation at site £ i £. differentiate £ F £ wrt the ext field
£ H_i £</p>


<div class="eq">
££
\bgnmaths

  ÷{∂F}{∂H_i}
  
&= 

 -k_B T ÷{1}{Tr 𝓮^{-β Ham}} Tr ÷{S_i}{k_B T} 𝓮^{-β Ham}
  
\n
&=

 -\expval{S_i}

\endmaths
££
</div>

<h1 id="thermodynamic-limit">THERMODYNAMIC LIMIT</h1>
<p>for a finite system £ F £ is an analytic function of each of its args <em>at least
in some strip incl the real axis</em>, pk for each of the £ 2^N £ states of the system, the energy of the nth state £ E_n £ is just a linear combination of the coupling constants</p>


<div class="eq">
££
\bgnmaths

  Z = ∑_{n = 1..2^N} \exp(-β E_n[K])


\endmaths
££
</div>

<ul>
<li>this shows that £ Z[K] £ is analytic</li>
</ul>
<p>phase transitions only arise in the TD limit.</p>
<p>for the TD limit to exist it&rsquo;s necessary that the two spin interaction £ J_{ij} £ ssfies</p>


<div class="eq">
££
\bgnmaths

  ∑_{j \neq i} | J_{ij} | &lt; ∞


\endmaths
££
</div>

<p>the range of the interaction £ J_{ij} £ and the dimensionality determine whether
or not the TD limit exists.</p>
<ul>
<li>
<p>e.g. suppose for two spins £ S_i £ and £ S_j £ at lattice sites with positions
£ ↗r_i, ↗r_j £,</p>


<div class="eq">
££
\bgnmaths

    J_{ij} = A | ↗r_i - ↗r_j |^{-σ}
  

\endmaths
££
</div>

</li>
<li>
<p>in this case, we require £ σ &gt; d £ for the limit to exist.</p>
</li>
<li>
<p>in £ d = 3 £ this condition excludes magnetic dipole dipole interactions. they
fall off with distance £ r £ as £ r^{-3} £</p>
</li>
<li>
<p>but as long as the dipoles aren&rsquo;t aligned, you can show that the TD limit does
exist and is independent of the shape of the region</p>
</li>
</ul>
<h1 id="nearest-neighbour-ising-model">NEAREST NEIGHBOUR ISING MODEL</h1>
<p>hamiltonian</p>


<div class="eq">
££
\bgnmaths

  -Ham = H ∑_{i=1..N} S_i &#43; J ∑_{&lt;ij&gt;} S_i S_j


\endmaths
££
</div>

<ul>
<li>assumed the ext field £ H £ is uniform in space</li>
<li>and that the only interaction between spins is between neighbouring spins, denoted £ J £</li>
</ul>
<p>magnetisation or magnetic moment per site, £ M £</p>


<div class="eq">
££
\bgnmaths

  M 
  
&= 

 - ÷1N ÷{∂F}{∂H}
  
\n
&=

÷1N ∑_{i=1..N} \expval{S_i}

\endmaths
££
</div>

<h1 id="analytic-properties-of--f-">ANALYTIC PROPERTIES OF £ f £</h1>
<p>it&rsquo;s important to examine the analytic properties of the bulk free energy density £ f_b[K] £, pk we want to know exactly when and how nonanalytic behaviour arises.</p>
<p>the main analytic properties of £ f £</p>
<ul>
<li>£ f &lt; 0 £</li>
<li>£ f(H, T, T, &hellip;) £ is continuous</li>
<li>£ ∂f / ∂T, ∂f / ∂H £ exist almost everywhere</li>
<li>the entropy per site £ S = -∂f/∂T \geq 0 £ almost everywhere</li>
<li>£ ∂f/∂T £ is monotonically nonincreasing with £ T £, so


<div class="eq">
££
\bgnmaths

    \ppp fT \leq 0
  

\endmaths
££
</div>

implying the specific heat at constant magnetic field £ C_H \geq 0 £


<div class="eq">
££
\bgnmaths

    C_H = T \pp ST |_H = -T \ppp FT |_H \geq 0
  

\endmaths
££
</div>
</li>
<li>£ ∂f/∂H £ is monotonically nonincreasing with £ H £, so


<div class="eq">
££
\bgnmaths

    \ppp fH \leq 0
  

\endmaths
££
</div>

implying the isothermal susceptibility £ χ_T \geq 0 £,


<div class="eq">
££
\bgnmaths

    χ_T = \pp MH |_T = -\ppp fH
  

\endmaths
££
</div>
</li>
</ul>
<h1 id="symmetries-of-the-ising-model">SYMMETRIES OF THE ISING MODEL</h1>
<p>the symmetries of the ising model show that a phase transition isn&rsquo;t possible in a finite system</p>
<p>lemma: for any function £ φ £ that depends on the spin configuration £ [S_i] £,</p>


<div class="eq">
££
\bgnmaths

  ∑_{S_i = \pm 1} φ([S_i]) = ∑_{S_i = \pm 1} φ([-S_i])


\endmaths
££
</div>

<h1 id="time-reversal-symmetry">TIME REVERSAL SYMMETRY</h1>
<p>up down symmetry, time reversal symmetry, £ Z_2 £ symmetry</p>
<p>can prove that £ Z(-H, J, T) = Z(H, J, T) £ (gf 2.51)</p>
<p>free energy density is even in H: £ f(H, J, T) = f(-H, J, T) £</p>
<h1 id="sub-lattice-symmetry">SUB LATTICE SYMMETRY</h1>
<p>occurs when £ H = 0 £</p>
<p>can prove that £ f(0, J, T) = f(0, -J, T) £ (gf 2.57)</p>
<p>in zero field the ferromagnetic and anti ising models on a hypercubic lattice have the same thermodynamics</p>


</div>

</body>


</html>
