{{ define "main" }}

<head>
<link rel='stylesheet' href='/css/list.css'>
{{ partial "colour.html" . }}
{{ partial "loadmathjax.html" . }}

{{ if .Param "pagetitle" }}
<title>{{ .Param "pagetitle" }}</title>
{{ else }}
<title>{{ .Site.Home.Title }}{{ .RelPermalink }}</title>
{{ end }}

{{ if .Param "favicon" }}
<link rel="icon" type="image/png" href="/figs/{{ .Param "favicon" }}"/>
{{ end }}

{{ if .Param "project" }}
{{ $project := $.Param "project" }}
<link rel='stylesheet' href='/css/project/{{ $project }}.css'>
{{ end }}

</head>



<body>

<div class="waterfall">
{{ .Content }}
</div>

{{ partial "button/EXIT.html" . }}

</body>

{{ partial "fin.html" . }}


{{ end }}
