{{- $name := print .Params }}
{{- $name := strings.TrimRight "]" $name }}
{{- $name := strings.TrimLeft "[" $name }}
{{- $urlname := $name | urlize }}

{{- $path := ( printf "/lexicon/%s" $urlname ) }}

<br>
<div class=outline>
<h2 class="kaput">
	<span class="kaput-pilcrow">¶</span>
	<span class="kaput-define">define</span>
	<a class="kaput-term" href="{{ .Site.BaseURL }}lexicon/{{ $urlname }}/">{{ $name }}</a>
</h2>


<div class="lexicon-displaybox">

{{- with .Site.GetPage $path -}}

{{ $def_num := 0 }}
<div class="lexicon-displaybox-what">

{{ range .Param "what" }}
	[{{ $def_num }}]
	<br>
	<span class="lexicon-displaybox-what-text">
		{{ . | markdownify }}
	</span>
	{{ $def_num = (add $def_num 1) }}
{{ end }}

</div>

{{ end }}
</div>
</div>
