{{- $name := print .Params }}
{{- $name := strings.TrimRight "]" $name }}
{{- $name := strings.TrimLeft "[" $name }}
{{- $urlname := $name | urlize }}

{{- if (.Page.IsPage) -}}

{{- $path := path.Join "/physics/" ($.Page.Params.domain) }}
{{- $path := path.Join $path "/lexicon/" }}
{{- $path := path.Join $path ($urlname) }}

<button class="lexicon-ref">
<span class="lexicon-link">
<a href="{{ .Site.BaseURL }}physics/{{ $.Page.Params.domain }}/lexicon/{{ $urlname }}/">{{ $name }}</a>
<div class="lexicon-box">
{{- with .Site.GetPage $path -}}
	{{ if .Param "redirect" }}

	{{ $redirect := (.Param "redirect") | urlize }}
	{{ with .GetPage $redirect }}
	<span>(redirect) {{ $name }} ⇒ {{ .Title }}</span>
	<br><br>
	<p class="lexicon-box-title">{{ .Title }}</p>
	{{ $def_num := 0 }}
	<div class="lexicon-box-what">
	<p>DEFINITION(S):</p>
	{{ range .Param "what" }}
	<p>[{{ $def_num }}]</p>
	<div class="lexicon-box-what-text">
	{{ . | markdownify }}
	</div>
	{{ $def_num = (add $def_num 1) }}
	{{ end }}
	</div>

	{{ end }}
	{{ else }}

	<p class="lexicon-box-title">{{ .Title }}</p>
	{{ $def_num := 0 }}
	<div class="lexicon-box-what">
	<p>DEFINITION(S):</p>
	{{ range .Param "what" }}
	<p>[{{ $def_num }}]</p>
	<div class="lexicon-box-what-text">
	<p>{{ . | markdownify }}</p>
	</div>
	{{ $def_num = (add $def_num 1) }}
	{{ end }}
	</div>

	{{ end }}
{{ end }}
</div>
</span>
</button>
{{ else }}
<a href="">{{ $name }}</a>
{{ end }}
