{{ $name := print .Params }}
{{ $name := strings.TrimRight "]" $name }}
{{ $name := strings.TrimLeft "[" $name }}
{{ $urlname := $name | urlize }}
{{ with .Page.GetPage $urlname }}
<li class="note">
<a href={{ .Permalink }}>{{ .Title | markdownify }}</a><br>
<div class="notepreview">
<h1>{{ .Title | markdownify }}</h1>
<hr>
{{ if isset .Params "desc" }}
{{ .Params.desc | markdownify }}
<hr>
{{ end }}
{{ .TableOfContents | markdownify }}
<hr>
{{ if isset .Params "showsummary" }}
{{ .Summary | markdownify }}
{{ end }}
...
</div>
</li>
{{ end }}
