{{ $stuff := split .Inner ",," }}
{{ $N := len $stuff }}
<div class="src">
<span class="author">
{{- range first 1 $stuff -}}
{{ . }}
{{- end }}
</span>
<span class="title">
{{- range first 1 (after 1 $stuff) -}}
{{ . }}
{{- end }}
</span>
<span class="from">
{{- range first 1 (after 2 $stuff) -}}
{{ . }}
{{- end }}
</span>
<span class="year">
{{- range (after 3 $stuff) -}}
{{ . }}
{{- end }}
</span>
</div>
