{{ $name := print .Params }}
{{ $name := strings.TrimRight "]" $name }}
{{ $name := strings.TrimLeft "[" $name }}
{{ $urlname := $name | urlize }}
{{ $urlname := (printf "%s%s" $urlname ".md") }}

{{ with .Page.Resources.GetMatch $urlname }}
<span class="draft-no">[notes]</span>
<div class="draft-af">
{{ .Content }}
</div>
{{ end }}
