{{ $src := .Get 0 }}
{{ $details1 := .Get 1 }}
{{ $details2 := .Get 2 }}

{{- $path := (printf "%s%s" "sources/" $src) -}}
{{- with ($.Site.GetPage $path) -}}
<a class="inlinecitation">
<span class="inlinecitation-txt">
[{{- $src }}{{ if $details1 }} {{ $details1 }}{{ end }}{{ if $details2 }} {{ $details2 }}{{ end }}]
<span class="inlinecitation-sourcebox">
	<span class="author">{{ .Param "author" }}. </span>
	<span class="title">{{ .Title }}. </span>
	{{ if .Param "institution" -}}
	<span class="institution">{{ .Params.institution }}. </span>
	{{ end -}}
	{{- if .Param "year" -}}
	<span class="year">{{ .Params.year }}. </span>
	{{- end -}}
	{{- if .Param "link" -}}
	<br><span class="link">{{ .Params.link }}</span>
	{{- end -}}
</span>
</span>
</a>

{{ end -}}
