{{ $src := .Get 0 }}

{{- $path := (printf "%s%s" "sources/" $src) -}}
{{- with ($.Site.GetPage $path) -}}


<div class="src">
[{{ $src }}]
<span class="author">{{ .Param "author" }}.</span>
<span class="title">{{ .Title }}.</span>
<span class="from">{{ .Params.institution }}.</span>
<span class="year">{{ .Params.year }}.</span>
</div>

{{ end -}}
