{{ if .Param "redirect" }}

{{ $redirect := (.Param "redirect") | urlize }}
{{ with .GetPage $redirect }}

<span>(redirect) {{ $.Title }} ⇒ <a href="{{ .Permalink }}">{{ .Title }}</a></span>
<br><br>
<span class="lexpreview-title">{{ .Title }}</span>
<br>
{{ $def_num := 0 }}
{{ range .Param "what" }}
[{{ $def_num }}]
<br>
<span class="lexpreview-what">{{ . | markdownify }}</span>
{{ $def_num = (add $def_num 1) }}
<br>
{{ end }}

{{ end }}


{{ else }}

<span class="lexpreview-title">{{ .Title }}</span>
<br>
{{ $def_num := 0 }}
{{ range $.Param "what" }}
[{{ $def_num }}]
<br>
<span class="lexpreview-what">{{ . | markdownify }}</span>
{{ $def_num = (add $def_num 1) }}
<br>
{{ end }}

{{ end }}
