{{ $name := print .Params }}
{{ $name := strings.TrimRight "]" $name }}
{{ $name := strings.TrimLeft "[" $name }}
{{ $urlname := $name | urlize }}
{{ $path := path.Join "notes" $urlname }}

{{ with .Page.GetPage $path }}

<a class="notelisting" href={{ .Permalink }}>
<li class="note">

<span class="notelisting-arrow">↦</span>

<span class="notelisting-txt">
{{ .Title | markdownify }}
</span>

<div class="notepreview">

<div class="notepreview-content">
<h1>{{ .Title | markdownify }}</h1>

{{ if isset .Params "desc" }}
<p>{{ .Params.desc | markdownify }}</p>
<hr class="preview">
{{ end }}

{{ .TableOfContents | markdownify }}
<hr class="preview">

{{ if isset .Params "showsummary" }}
<div class="peek">
{{ .Render "peek" | markdownify }}
</div>
{{ end }}
⋮

</div>
</div>

</li>
</a>
{{ end }}
